[2017-10-11 19:43] dhilt opened #2 "Concept"
Здесь можно обсуждать все идеи и моменты, касающиеся продукта до выхода первой версии. Что и как работает, улучшения, возможные направления развития.

[2017-10-11 19:43] dhilt opened #3 "Test infrastructure"
Need to develop test infrastructure and provide first tests.

[2017-10-13 20:31] ndovnar commented on #2
@dhilt Мы можем первое время поработать по схеме "ты говоришь я делаю"? Мне бы так намного проще было влиться в проект). Есть одна идейка: было бы не плохо оставить возможность для прокидывания события 'scroll' для возможности кастомизации скрол бара.

[2017-10-13 21:00] dhilt opened #4 "Better usage"
Think about better usage of things: template, datasource, directive instead of (or over) component.

[2017-10-13 21:00] dhilt commented on #2
@babsley Да, это очень хорошая идея. Как прокидывание события поможет кастомизировать внешний вид? есть какие-то устоявшиеся техники на этот счет? Если у тебя нет вопросов по текущему коду, то можно начать двигаться в сторону тестов. Или подумать, как улучшить использование

[code]

я не знаю, что написал сейчас, это смутные фантазии [на тему](https://stackoverflow.com/questions/38582293/how-to-de

[2017-10-13 21:03] dhilt commented on #3
@babsley  Первый тест должен просто рендерить компоненту в заданном viewport и проверять, что было, скажем, 2 вызова datasource.get вниз и 1 вызов datasource.get наверх. Можно проверить итоговый html, что у нас нужное количество строк и их содержание соответствует ожидаемому.

[2017-10-13 21:07] dhilt commented on #4
@babsley Посмотри на https://blog.angular-university.io/angular-ng-template-ng-container-ngtemplateoutlet/ и http://weblogs.thinktecture.com/thomas/2017/05/use-angular-template-reference-variables-anywhere-in-the-template-not.html. Мы должны привести шаблонизацию скроллера к максимально удобному виду. У нас есть datasource, идущий в скроллер, и должны быть переменные item и index, выходящие из скр

[2017-10-13 21:14] ndovnar commented on #2
@dhilt  https://github.com/jkuri/ngx-slimscroll, судь идеи что бы можно было стригирить событие не только через Element.scroll

[2017-10-13 22:38] dhilt opened #5 "Custom scrollbar"
The view should be customizable. There is an idea to make the Directive work with some external solutions like https://github.com/jkuri/ngx-slimscroll. Need to think about flexible API allowing such an integration.

[2017-10-13 22:38] dhilt commented on #2
@babsley Да, будет очень хорошо, если мы сможем интегрироваться со сторонними компонентами, вроде ngx-slimscroll, именно в этом, как я вижу, заключено будущее компонентного подхода во front end. Я создал задачу: https://github.com/dhilt/ui-scroll/issues/5.

[2017-10-15 19:36] ndovnar commented on #3
@dhilt Решил сразу приступить к написанию тестов, но так как я их никогда не писал, нужно изучить материал и т.д. Решил держать тебя вкурсе, о том чем я занимаюсь и надеюсь обучение в процессе не будет сильно тормозить работу.

[2017-10-15 23:43] dhilt commented on #3
@babsley Окей! я со времен первого ангуляра не занимался тестированием front end (недавно только начал получать опыт с Реактом) и я не могу подсказать "правильное" направление, но кроме прочего, нам обязательно надо иметь возможность отлаживать тест в реальном браузере, видеть DOM, шариться по callstack...

[2017-12-28 12:45] dhilt opened #6 "Module"
The UiScrollDirective needs an own Module.

[2018-01-13 00:47] dhilt commented on #4
Done by PR https://github.com/dhilt/ngx-ui-scroll/pull/7.

[2018-01-13 00:47] #4 closed, assigned to dhilt, ndovnar

[2018-01-13 01:04] dhilt commented on #6
Done by PRs https://github.com/dhilt/ngx-ui-scroll/pull/8 and https://github.com/dhilt/ngx-ui-scroll/pull/9.

[2018-01-13 01:04] #6 closed, assigned to nobody

[2018-01-14 19:34] dhilt opened #10 "External template/styles for the lib module"
The external template raises 404 error after the compilation of the package is done:

The component uses `templateUrl`:

[code]

[2018-01-14 20:02] dhilt commented on #10
Per https://github.com/robisim74/angular-library-starter/issues/1 thread this issue could be treated as known one.

[2018-01-14 20:18] dhilt commented on #10
Fixed by [this commit](https://github.com/dhilt/ngx-ui-scroll/commit/932f03c68df6d7d304cff01354ebc7df4a6a8ad6).

[2018-01-14 20:18] #10 closed, assigned to nobody

[2018-01-17 02:32] dhilt opened #11 "Deployment"
Travis? It should include build and tests running.

[2018-02-07 22:07] dhilt opened #13 "Review scrollbar calculations"
Currently ui-scroll makes scrollbar calculations via `getBoundingClientRect`. Need to investigate possible issues and review viewport DOM-specific logic if necessary.

[2018-02-09 18:11] dhilt commented on #3
Done by PR https://github.com/dhilt/ngx-ui-scroll/pull/14.

[2018-02-09 18:11] #3 closed, assigned to dhilt, ndovnar

[2018-02-11 13:23] dhilt commented on #13
It was found that `line-height` is the only css property that affects browsers compatibility, so it should have an explicit default value. Closing for now.

[2018-02-11 13:23] #13 closed, assigned to nobody

[2018-02-11 13:28] dhilt opened #17 "First documentation requirements"
Need to add usage requirements to the documentation.

**1.** Module requirements

- [x] `UiScrollModule` importing

**2.** Host Component class requirements

- [x]  public property of `Datasource` type
- [x]  an agreement on `Datasource.get` and `Datasource.settings`

**3.** Host Component template requirements

- [x] Viewport wrapper (see "CSS Viewport requirements")
- [x] `*uiScroll` syntax
- [x

[2018-02-11 13:42] dhilt opened #18 "Tests, basic specs"
**initialization spec**
- [x] initializing (host component, datasource, viewport, buffer elements)
- [x] bad datasource
- [x] settings default (datasource with and without settings; settings overriding)
- [x] bad settings
________
**initial load spec**
- [x] initial load with no clip (3 cases)
- [x] initial load with clip (3-5 cases)
- [x] infinite mode (based on previous clip-tests but only 1 cas

[2018-02-11 14:29] dhilt commented on #18
Here 'case' is a combination of bufferSize, padding and viewportHeight params. Later we'll add itemHeight and startIndex. For now `initial.spec.ts` has an infrastructure to manipulate `case` params inside a single spec. All expectations should be calculated dynamically based on `case` params as it is done for `initial.spec.ts`. The branch for committing: https://github.com/dhilt/ngx-ui-scroll/tree

[2018-02-12 22:43] dhilt commented on #18
I've just pushed tests for datasource settings default/overriding. Thinking about convenient tests configure runner.

[2018-02-13 00:51] dhilt commented on #18
@supromikali @khajjit A new configurable test runner is implemented. Now it should be pretty easy to create mass cases specifications, please look at `initial-load.spec.ts`. The only new thing that should be taken into the account is asynchronous `done` callback – it must be invoked explicitly at the logical end of custom runner-it implementation.

Also, `done` could be useful in scroll events tes

[2018-02-15 10:56] supromikali commented on #18
@dhilt I have just added "infinite" scroll case to initial load spec. See https://github.com/dhilt/ngx-ui-scroll/commit/a1e6db0ae3d80d851c99a436ad62170ee3360687

[2018-02-17 21:47] dhilt commented on #18
@khajjit @supromikali I struggled with async events triggering for last 2-3 days and I developed an approach that is convenient enough (maybe we will change it in the future). It is based on jasmine `spyOn` mechanism. I added two stub `finalize` methods on the WorkflowRunner and Workflow classes which do nothing but which are being invoked when a) the workflow is completed and stopped (WFRunner.fi

[2018-02-21 12:43] dhilt commented on #18
@supromikali I saw your work on bad datasource and made some updates in tests runner. You can continue from this point and cover other "bad" scenarios.

[2018-02-22 07:36] supromikali commented on #18
@dhilt I have added "missing datasource" case to Bad datasource spec, could you check my commit, please? 233ae383fdb2bd09cea92cf1f33bdc5b7ffe7f8d

[2018-02-27 11:18] dhilt commented on #11
Done by PR https://github.com/dhilt/ngx-ui-scroll/pull/19.

[2018-02-27 11:18] #11 closed, assigned to nobody

[2018-03-02 19:24] dhilt commented on #18
We did it!

[2018-03-02 19:24] #18 closed, assigned to dhilt, supromikali, dyuv-dev

[2018-03-03 11:05] dhilt opened #25 "GH Pages"
- [x]  build demo-app for gh-pages
- [x]  run demo-app on gh-pages
- [x]  own README for gh-pages

https://dhilt.github.io/ngx-ui-scroll/

[2018-03-07 22:00] dhilt opened #26 "Moment vulnerability alert"
Need to investigate package-lock.json and find a solution, update exact dependency.

[2018-03-07 22:12] dhilt commented on #26
Initial cause of the issue is `moment.js` ReDoS vulnerability (https://github.com/moment/moment/issues/4163); `rollup-plugin-license` depends on `moment` and should be updated form 0.5.0 to 0.6.0 (https://github.com/mjeanroy/rollup-plugin-license/issues/170).

[2018-03-07 22:17] #26 closed, assigned to nobody

[2018-03-16 14:00] dhilt commented on #17
Current results are in [demo branch](https://github.com/dhilt/ngx-ui-scroll/tree/demo).

[2018-03-18 22:27] dhilt opened #28 "Horizontal scrolling"
Need to implement horizontal scrolling. Proposal:

[code]

[2018-03-21 20:16] #28 closed, assigned to nobody

[2018-03-23 15:49] dhilt commented on #25
Done by PR https://github.com/dhilt/ngx-ui-scroll/pull/29.

[2018-03-23 15:49] #25 closed, assigned to dhilt, supromikali

[2018-03-23 16:24] dhilt commented on #2
Closed before pre-release.

[2018-03-23 16:24] #2 closed, assigned to dhilt, ndovnar

[2018-03-27 04:58] rakeshdausa opened #30 "Issue during integration Module not found"
Hey,
I am using this for my feed screen list as suggested by @dhilt,  But after integrating I got this error. `ERROR in ./node_modules/ngx-ui-scroll/esm5/ngx-ui-scroll.js
Module not found: Error: Can't resolve 'lodash.throttle' in 'D:\PlownsWeb\src\main\pwa\node_modules\ngx-ui-scroll\esm5'
resolve 'lodash.throttle' in 'D:\PlownsWeb\src\main\pwa\node_modules\ngx-ui-scroll\esm5'
  Parsed request is

[2018-03-27 05:31] rakeshdausa commented on #30
After upgrading angular to 5.2.8 I am getting this error

ERROR in ./node_modules/ngx-ui-scroll/esm5/ngx-ui-scroll.js
Module not found: Error: Can't resolve 'lodash.throttle' in 'D:\PlownsWeb\src\main\pwa\node_modules\ngx-ui-scroll\esm5'

[2018-03-27 11:16] dhilt commented on #30
@rakeshdausa Thanks for the issue! The problem has been fixed and the updated 0.0.2 version is available via npm.

[2018-03-27 13:29] #30 closed, assigned to nobody

[2018-03-27 13:42] rakeshdausa opened #31 "How can scroll on one direction?"
After implementing this I got another issue. when I scroll to top data source index is started going negative. I just want it to scroll in positive index. My Data source code is :
[code]

[2018-03-27 15:45] dhilt commented on #31
@rakeshdausa Thanks for the the request! The `feedsService` call should be based on `index` parameter. I don't know what is `this.cursor`, but I would implement the `datasource.get` method as following:

[code]

As you see, I considered the edge cases of scrolling to the topmost position (set by `MIN` value) from random index by calculating `start` value and decreasing `count` value in case of `in

[2018-03-28 06:48] rakeshdausa commented on #31
Thank you @dhilt  for your instant response. I have done and its working accordingly but some time when I scroll using scroll bar it showing lot of empty space on the top. And how can I reduce gap between items?

[2018-03-28 12:27] dhilt commented on #31
@rakeshdausa Since we have done with one scroll direction, I'm going to close this issue. Before you open another one, please look at the demo I created for you – https://stackblitz.com/edit/angular-tfmcme?file=index.html – here I implemented different items heights on the datasource layer (`height: 20 + i`) and bound it via `[style.height.px]="item.height"` on the template. For me it works normal

[2018-03-28 12:27] #31 closed, assigned to nobody

[2018-03-28 13:17] rakeshdausa commented on #31
Hi, I gone through demo you created. But issue is same in that also. I am sharing video please check it.
https://drive.google.com/open?id=1aMcfqFW3bYOpOq7fkltSZstEsmqvdAy3

[2018-03-28 13:42] dhilt opened #32 "Different items heights"
Need to provide different items heights functionality (per https://github.com/dhilt/ngx-ui-scroll/issues/31#issuecomment-376780261).

Here is the demo that does not work properly in some cases: https://stackblitz.com/edit/angular-tfmcme?file=index.html.

[2018-03-28 13:44] dhilt commented on #32
@rakeshdausa Could you please tell me what OS and what Browser version are you using? For me the stackblitz demo works fine on Win 10 Chrome v65.0.3325.181.

[2018-03-28 13:46] dhilt commented on #31
@rakeshdausa I created new issue and sent you a request to access the google drive.

[2018-03-28 13:53] rakeshdausa commented on #32
I am also using Google Chrome Version 65.0.3325.181 (Official Build) (64-bit) Windows 10.

[2018-03-28 13:53] rakeshdausa commented on #32
It happens during scroll up and down multiple times.

[2018-03-28 14:08] dhilt commented on #32
@rakeshdausa Oh, I was able to reproduce the problem, your video was very helpful. Currently I don't understand the mechanics of the bug and I need some time to minimize it. Thank you!

[2018-04-14 13:53] dhilt commented on #32
@rakeshdausa Hi! I've just published v0.0.3-beta, it is available via npm. I think I fixed the issue though not all the tests are done (that's why it is beta). May I ask you to try v0.0.3-beta in your environment?

[2018-04-17 12:20] cristigav opened #34 "Clear the datasource. API method to reload the scroller"
I tried to use the scroll with a datasource that is the result of a search, but I can not find a way to tell the scroll component that the datasource has changed in content, so it only triggers the get method first time.

I have tried setting my datasource to null and then create a new one after a new search, and also tried to put an *ngIf on the parent div to disable and re-enable it again but st

[2018-04-17 13:29] dhilt commented on #34
@cristigav Hey! I think you need a reload method... Currently there is no external API that can be used to manipulate and assess the scroller. But there is time to change it, and I will implement `reload()` method somewhere on Datasource for next (v0.0.3) release.

It will take some time. As a workaround I can suggest following approach (by your idea based on complete rebuild of the scroller via n

[2018-04-18 06:49] cristigav commented on #34
Thanks. The workaround works. The problem with the workaround is that when I am loading the next page and do a reload, the scroll will start from the beginning. So I will wait for a reload method :)

[2018-04-18 14:54] dhilt commented on #32
Closed per ngx-ui-scroll v0.0.3 has been released.

[2018-04-18 14:54] #32 closed, assigned to nobody

[2018-04-27 03:09] dhilt commented on #34
@cristigav v0.0.4-rc has been just released and available via npm with "next" tag:

[code]

In this version the Datasource is endowed with a special Adapter property which has the reload method:

[code]

It allows you to reload the scroller to a specific position without destroying the viewport. I also added a  reload sample to the demo App: https://dhilt.github.io/ngx-ui-scroll/#/adapter#reload.

[2018-04-27 05:57] rakeshdausa commented on #32
Yes Its working fine. Thanks

[2018-04-27 15:56] dhilt opened #36 "Security vulnerability in hapijs / hoek 2.16.3, Angular CLI dependency"
Details [here](https://nvd.nist.gov/vuln/detail/CVE-2018-3728).

Is blocked by https://github.com/angular/angular-cli/issues/10480.

[code]

[2018-05-03 12:14] dabcat opened #37 "Negative index issue"
Thanks for module, it's been exactly what I was looking for. One issues that I'm having:

- I would like to prevent triggering scroll event when the index goes to negative, basically I dont want to go into loops

I'm using v0.0.4-rc.1

[2018-05-03 13:02] dhilt commented on #37
@dabcat  Thanks for the issue! Preventing negative indexes is the `Datasource` responsibility. In terms of the `uiScroll`, you want the `Datasource` to be limited on backward direction. So you need to adjust your `Datasource` implementation to return empty array when the index becomes negative. But you need to be careful for not to cut edge positive items. Let me explain a bit.

When a `bufferSize

[2018-05-03 14:01] dabcat commented on #37
@dhilt Thanks for prompt reply!

Seems like there is a bug when using Observables instead of promises, it wont trigger datasource again when reaching end of list:

[code]

So to clarify, scrolling down should load new results but scrolling up shouldn't once index is less or equal to zero.

[2018-05-03 14:16] dabcat commented on #37
@dhilt **not a bug, my mistake... sorry!**

should return empty stream instead of empty array:

[code]

Thanks for the help, much appreciated! 👍

[2018-05-03 14:16] dhilt commented on #37
@dabcat The returning array should be an observable too, so you can't just return `[]` from the `Datasource.get`, you may wrap it with `Observable`, something like

[code]

Also, I think, a following workaround should work:

[code]

The `uiScroll` checks `Datasource.get` each time it is called. So it could be Observable-based at one iteration and callback-based at another one. But I would recommen

[2018-05-03 17:53] #37 closed, assigned to nobody

[2018-05-05 16:55] dhilt opened #38 "Can't update Demo App to Angular 6"
Multiple errors during compilation:

Is blocked by https://github.com/valor-software/ngx-bootstrap/issues/4299.

[2018-05-05 17:38] dhilt commented on #34
Closed per v0.0.4 is released.

[2018-05-05 17:38] #34 closed, assigned to dhilt

[2018-05-08 13:10] dabcat opened #39 "TypeError: Cannot read property 'getBoundingClientRect' of undefined"
Hi @dhilt ,

I'm getting and error at some point when reloading the list:

[code]

This happens when previous list had more items then the new one... it's quite strange cause I cant catch it every time.

[code]
element is **undefined** for one item, not sure why, and it brakes.

[2018-05-10 00:46] dhilt commented on #39
Hey @dabcat! May I ask you to post you code related to the Datasource and reload method implementation? Periodical **undefined** element issue looks like a kind of race condition... The best help you can make is to create a stackblitz demo of your situation. You may take [this one](https://stackblitz.com/edit/angular-gfqsft), upgrade ngx-ui-scroll dependency to v0.0.4, throw away pseudo-reload log

[2018-05-10 14:32] dabcat commented on #39
Seems like you are right, it was race condition which a simple setTimeout fixed... though I still dont understand why exactly.

I simply wrapped adapter.reload into timeout func:

[code]

Unfortunately I can't setup stackblitz demo because of the complexity of stream (and app) which feeds the datasource but will try to explain it.

I have a stream of messages which I need to render 50 at a time. I

[2018-05-10 17:34] dhilt commented on #39
@dabcat  I'm working on v0.0.5, this new version will have new Workflow engine, the Adapter (and Adapter.reload) will be affected. This update will have to reduce async code complexity. Since we have no repro, I would prefer to concentrate on the next release and there is a great chance that it will solve your issue.

By the way, I think that 100ms delay could be replaced with zero-timeout: `setTi

[2018-05-11 07:12] dabcat commented on #39
@dhilt thanks man, looking forward to test new version.

I tried zero-timeout before anything else and it didn't work, so 100ms seems to do it's job.

Cheers!

[2018-05-14 13:32] dabcat opened #40 "*uiScroll on table row"
Hi @dhilt ,

was wondering if there is a workaround on using directive on table instead of div. Something like :

[code]

Currently it's not working properly as it wraps each record in `<div data-sid="XYZ">`

![screen shot 2018-05-14 at 3 29 57 pm](https://user-images.githubusercontent.com/5601484/40000303-c1f21c4e-578b-11e8-9d57-fa2e3b3133cd.png)

This would be really awesome if it could work wit

[2018-05-14 14:03] dhilt commented on #40
@dabcat Yes, this is known issue – https://stackoverflow.com/a/50161881/3211932 (posted it 10 days ago). You are absolutely right, we should allow tables syntax, so I put the "enhancement" tag and will do it right after 0.0.5 version is released. Thanks!

[2018-05-21 01:51] dhilt commented on #39
@dabcat v0.0.5-rc has been just released, could you try it in your project? If it does not help, I would ask you to post your Datasource implementation and all other code related to the uiScroll. Thanks!

[2018-05-22 12:34] dabcat commented on #39
@dhilt I tried 0.0.5-rc and it doesn't throw error anymore (without timeout func) but it calculates elements position in the viewport incorrectly... e.g. it scrolls down out of viewport showing empty list so you need to scroll up to view elements.

Again this is solved with setTimeout().

Did you change any of the API's?

[2018-05-22 13:06] dhilt commented on #39
@dabcat No, the API has not been changed, tests also have not been changed (only infrastructure updates). We have more than 100 tests on positions calculations, so without repro and code sources it seems difficult to understand what's wrong. In my experience, list gaps are commonly Datasource implementation issue, so posting the code may help!

[2018-05-22 13:17] dabcat commented on #39
Here is the class and template:

[code]
...and the template:

[code]

[2018-05-22 13:56] dhilt commented on #39
@dabcat Thanks, I will take o look.

[2018-05-25 09:44] fredericojesus opened #42 "Window scroll"
Hey @dhilt,

I can't seem to figure out how to make it work with window scroll.
I don't see anything on the documentation or on the examples but I know that on the AngularJS version it was supported so probably is it something that will be supported in the near future?

[2018-05-25 13:18] dabcat opened #43 "Duplicated results when dataset is smaller then bufferSize and requested index > 1"
Hi @dhilt ,

seems like this is another bug which duplicates results when dataset is smaller then bufferSize and requested index larger then one (>1).

For example:

- dataset has 5 records
- bufferSize is set to 100
- datasource.adapter.reload(2)

Rendered rows are duplicated.

Hope this makes sense, if not I'll try to setup demo.

[2018-05-25 14:19] riteshsingh2k opened #44 "after updating records in datasoruce , view(html) is not updated ? how to refresh datasource"

[2018-05-25 18:19] dhilt commented on #42
@fredericojesus Thanks for the issue! We'll certainly do it. Not sure it will be in nearest releases, so let's this issue keep open.

[2018-05-25 19:45] dhilt commented on #44
@riteshsingh2k You may try to use `Adapter.reload` method,
https://dhilt.github.io/ngx-ui-scroll/#/adapter#reload
Currently it is the only way to make changes in the View (say, reset the View) after the data from Datasource is retrieved and rendered.

[2018-05-26 02:59] dhilt commented on #43
Hey @dabcat! I have created stackblitz demo that reflects your situation – https://stackblitz.com/edit/angular-bicp9m – the only moment I see is 2-steps completion of the viewport after reload(2) is called. But this is designed behavior, and we have 2 requests:
 - first request that retrieves [2, 100] array and returns items `#2`, `#3`, `#4`, `#5`;
 - second request that retrieves [-98, 1] array a

[2018-05-28 09:23] dabcat commented on #43
@dhilt here is updated stackblitz: https://stackblitz.com/edit/angular-r1hmam

`const MAX = 40`
`bufferSetting: 50`

try reloading 41 (reloadIndex)

-----------------------

Try requesting 200 (reloadIndex) in your own demo, there is a bug somewhere and it's definitely behaving very strange.

[2018-05-28 10:43] dhilt commented on #43
@dabcat

**Situation 1**. MIN = 1, MAX = 5, bufferSize = 100, reloadIndex = 200; what happens?
1) forward request (100 items started from 200) returns 0 items;
2) backward request (100 items started from 100) returns 0 items.

That's why the viewport is completely empty. No data had been retrieved with that Datasource and that params.

**Situation 2**. MIN = 1, MAX = 40, bufferSize = 50, reloadInd

[2018-05-30 21:09] andiwonder opened #46 "Is it possible to use page and size while creating datasource"
Hi,

My api is build using the params page and size , so I can do something like page 1 and size 10 to get elements 11 to 20. I was wondering if I could create a datasource with those params or is it fixed to index and count ?

[2018-05-30 22:13] dhilt commented on #46
Hey, thanks for the issue! The Datasource.get method has only index-count signatures. But you can implement pages logic as an intermediate layer between the Datasource (uiScroll) and the Remote (server data). Something like

[code]

With this approach we do some extra work and should throw away items that are out of real index-count scope (`result.slice`). Depending on your needs this could be imp

[2018-05-30 22:53] MasterToney commented on #46
@dhilt have you considered adding a minIndex setting at one point?
Asking because I too limit the index to 0 and thought that it would be neat if you could set that just like the startIndex for example.
I suspect that this use case might be quite common ;)
Keep up the good work!

[2018-05-30 23:02] dhilt commented on #46
@MasterToney Sure! I understand the need and AngularJS version had such a setting. It would be nice if you create a separate issue for minIndex setting, because this one will be closed (I hope).

[2018-05-30 23:14] MasterToney opened #47 "Feature request minIndex setting"
As a common use case involves the limitation of the index in order to call an api I suggest implementing a setting which limits the index from which data gets loaded.

[code]

In this example `get` would only be called with `index >= 0` which avoids checks like:

[code]

[2018-05-30 23:58] andiwonder commented on #46
Hey, thanks for the explanation. Was able to get it working (sort of) with your code and you can close the issue if you want. Thanks for the reply.

[2018-05-31 00:03] #46 closed, assigned to nobody

[2018-06-01 18:48] postpersonality commented on #38
Hello! Block is resolved.

[2018-06-06 23:32] dhilt commented on #42
The entire window scroll feature is finalized in v0.0.5-rc.2 which has been just published.

[2018-06-06 23:32] #42 closed, assigned to dhilt

[2018-06-06 23:32] #17 closed, assigned to dhilt, supromikali

[2018-06-07 00:56] #38 closed, assigned to nobody

[2018-06-07 07:36] gerardcarbo opened #49 "Be able to specify the final size of the data set"
Like in the AngularJs virtual repeater (getLength()). This way the scroll bar can be initially sized to allow an easy access to any part of the data set.

[2018-06-08 01:49] dhilt commented on #49
@gerardcarbo Currently the uiScroll directive has no mechanism of fast jumping from one point to another with skipping intermediate rows, so all the rows between these two points will be retrieved and rendered (even if they will be immediately removed). Such skipping is very important feature and we are working on it. It will include min/max dataset indexes settings.

But for now you may try `padd

[2018-06-12 01:45] #49 closed, assigned to nobody

[2018-06-15 06:22] cristigav opened #51 "perfect scrollbar look"
I have a question: can ngx-ui-scroll be used toghether with a perfect scrollbal (like ngx-perfect-scrollbar), or the concepts are not compatible?

Actually I am more interested to replace the native scroll used in ngx-ui-scroll with a perfect scrollbar look.

I really do not know if I am asking you for a new feature, or I can do this on top of ngx-ui-scroll just with css.

[2018-06-16 12:33] dhilt commented on #51
@cristigav Sure, it should be possible! We have a stackblitz sample that demonstrates such an integration (with ngx-scrollbar): https://stackblitz.com/edit/angular-aba8se

[2018-06-16 12:36] dhilt commented on #5
Looks like this is css issue in general. Here is the example of scrollbar customization by the ngx-scrollbar library – https://stackblitz.com/edit/angular-aba8se – it does not require anything but proper css.

[2018-06-16 12:36] #5 closed, assigned to dhilt, ndovnar

[2018-06-16 12:39] dhilt commented on #36
Update.

Now it is blocked by https://github.com/angular/angular-cli/issues/10827.

[code]

[2018-06-22 20:14] ArcticFaded opened #52 "Question on using observables"
Hello,
I have the following pattern for information but I am not getting how the scroll fetches new values. In my system I retrieve information as such:

- http GET request fetches all the data
- The data is then passed to a subject like so

[code]

In a component I pass the observable as follows:

[code]

However when I try using my search function, it will only update on the first update. After

[2018-06-23 10:48] dhilt commented on #52
@ArcticFaded Basically if you already have `nodes: Node[]` that contains all the data you want to be accessible by the `uiScroll`, then the easiest way to implement `Datasource.get` method would be

[code]

We also may want to take care of negative indexes:

[code]

If you want some external `nodes$: Observable<any>` to be a datasource for the `uiScroll`, there may be some difficulty. The point is

[2018-06-23 17:52] ArcticFaded commented on #52
Thank you so much! Yes this answers all my questions and thanks for that demo!

[2018-06-23 17:52] #52 closed, assigned to nobody

[2018-07-13 12:56] alexus85 opened #53 "weird index when scrolling back"
The index is correctly incremented by the number defined in bufferSize when scrolling down.  However when I scroll up, I get weird indexes and I don't know how to calculate current position.

Please see below the flow. I'm only using some very basic example from your demo pages, just populated with some real data and that's it.

index: 0
Scroll down:
index: 4
Scroll down:
index: 8
Scroll down:
ind

[2018-07-13 15:24] dhilt commented on #53
@alexus85 Could you please show your `Datasorce.get` method implementation?

[2018-07-13 20:51] alexus85 commented on #53
https://angular-jxmkxz.stackblitz.io

I'm trying to calculate the current page since we're not using [from, to] ranges when requesting table data.

[2018-07-14 02:19] dhilt commented on #53
@alexus85 As I can see in your demo you are trying to apply page logic over index-count logic of the Datasource.get method. This certainly could be done and [here are some thoughts](https://github.com/dhilt/ngx-ui-scroll/issues/46#issuecomment-393336846) on this issue.
Does it cover your situation?

[2018-07-14 11:05] alexus85 commented on #53
Thanks, will definitely try this approach, although I don't understand that when the table is initially loading, it loads as much data as is required to fill out the predefined table height.  When it hits the height, it stops loading, at that point it's always trying to load page with index: 0 , count: 5.

https://stackblitz.com/edit/angular-jxmkxz

setting page : 0
loading page : 0

setting page

[2018-07-14 11:34] alexus85 commented on #53
I have updated my example on stackblitz (same link) , but I can't get even near to what I'd like to achieve. Whenever I'm communicating with my API, I only send current page index, not from - to page.
So I need to calculate just the currentPage index as I scroll up or down. But that only works as I scroll down, when I scroll up the get method isn't being called at all for some reason.

[2018-07-14 13:53] dhilt commented on #53
@alexus85 I forked your last demo and made it work. It took some time due to some inaccuracy in the initial approach description and your implementation.

https://stackblitz.com/edit/angular-hpg9ev

Now it is done and I think this sample should be included into official demo list.

[2018-07-14 18:10] alexus85 commented on #53
It's working like a charm!

I event did some performance testing , added two viewports with same datasource (as I. couldn't figure out a better way to add a sticky column to my lis)t, the scrollTop property of the second viewport is being updated as soon as the other is scrolled. Also removed all the console logs and it performed very well.

https://stackblitz.com/edit/angular-ttoesn?file=src%2Fap

[2018-07-14 19:41] #53 closed, assigned to nobody

[2018-07-16 08:27] cristigav opened #54 "current index"
Is it possible to know the current index (first visible) ?
This would be useful to be able to do a reload at the same positions (for ex. after deleting an element)

[2018-07-16 09:59] bearinld004 opened #55 "Chat app UI use case"
Hello there, I'm just wondering if this plugin fits the bill to create a chat like UI. Like similar to whatsapp etc. I have spent a whole day trying a few other angular based virtual scroll and none of them fit the use case. none of them have variable height *known only during runtime, working properly. some do but the height needs to be determined before hand . And for some the array have to be m

[2018-07-16 13:09] fperez-eypscap commented on #55
Hi, I was just about to write an issue regarding a similar use case. Kudos to the developer, I agree this is the sole project that actually works with variable height elements.
I am also fetching messages from local storage (sqlite in this case). Works great with upwards infinite scroll.
I have one only problem to overcome and it is adding new messages. When entering the page I load the most recen

[2018-07-16 14:41] bearinld004 commented on #55
@fperez-eypscap

Ah nice good to hear there is some hope!

Curious and you might find this useful when you scroll to bottom of the page on load do you scroll before the last element render on your page. so you see a page thats already scrolled down already? to get this effect i think you just need to call a method that triggers once in the view template like {{callMethod()}} pop it near the end.

[2018-07-16 14:50] dhilt commented on #54
@cristigav I drafter a solution in [first-visible branch](https://github.com/dhilt/ngx-ui-scroll/tree/first-visible). Could you try it before next release?

[code]

The Adapter got new property `firstVisible` that is an object of special type:

[code]

So to have current top index you should do something like this:

[code]

[2018-07-16 14:51] #51 closed, assigned to nobody

[2018-07-16 15:08] fperez-eypscap commented on #55
Currently I have two ways of scrolling:
 - Timed using window.setTimeout.
 - Detect finish loading with window.setInterval and checking adapter.isLoading changes.
This could be improved if uiScroll raised an event (observable) when it has finished loading/rendering.

I haven't tested momentum scrolling, but you are probably right.

[2018-07-16 22:48] dhilt commented on #55
Hi all! The issue you are describing (I mean adding items on-flight) is in the list of nearest releases features. It will look like `datasource.adapter.prepend(itemDataObject)`. Chat is very important use case, scrolling up to retrieve positive indexed items, and chat demo will be included in the demo list.

Also, I would ask you about observable-based `isLoading`. The thing is the uiScroll uses B

[2018-07-17 01:32] bearinld004 commented on #55
Got it thanks Denis!

On July 16, 2018 at 3:48 PM, Denis Alexanov
(notifications@github.com) wrote:

Hi all! The issue you are describing (I mean adding items
on-flight) is in the list of nearest releases features. It will
look like datasource.adapter.prepend(itemDataObject). Chat is
very important use case, scrolling up to retrieve positive
indexed items, and chat demo will be included in the dem

[2018-07-17 01:40] bearinld004 opened #56 "isLoading api surface"
Coming in from [another issue](https://github.com/dhilt/ngx-ui-scroll/issues/55). In my case I like call back style. But observables are fine too. basically need to trigger a function to scroll down once data is loaded. Come to think of this would also be nice and convenient to work with.

[code]

[2018-07-17 07:00] cristigav commented on #54
Thanks, works ok 👍
I will use it with the next release.

[2018-07-17 11:29] #44 closed, assigned to nobody

[2018-07-23 19:15] brunohbelo commented on #54
Hi folks, I also need that new feature about the first visible. There is a date for the next release?

[2018-07-23 21:31] dhilt commented on #54
Okay, I'm going to postpone major release and promise to publish v0.0.6 in 1-2 days

[2018-07-25 06:31] dhilt commented on #54
Let's try v0.0.6! Documentation is not updated, so I want to put some notes here:

 - use `new Datasource(...)` in your component to instantiate the datasource with the Adapter
 - use `{{datasource.adapter.firstVisible.$index}}` in your template to output first visible item's index where `firstVisible` is dynamically updated item object
 - use `{{(datasource.adapter.firstVisible$ | async)?.$index}

[2018-07-25 06:39] dhilt commented on #56
@bearinld004 v0.0.6 has been just released, it has updates related to this issue. See [this comment](https://github.com/dhilt/ngx-ui-scroll/issues/54#issuecomment-407648239), applying to `isLoading` the following should work in your component's code

[code]

[2018-07-26 20:23] brunohbelo commented on #54
I have updated to version 0.0.6 and the current index works fine! thanks

[2018-07-27 03:55] #54 closed, assigned to dhilt

[2018-07-31 14:23] brunohbelo opened #58 "Preload"
Is there a possibility to antecipete the load of the itens. I mean, before the scroll reach the top or the bottom, the load is called. My problem is, when the load is called it takes 1-2 seconds to bring and rendenize my itens on html

[2018-07-31 16:32] dhilt commented on #58
Hi @brunohbelo! You may try to use `Adapter.isLoading` in your project. This property is being set to `true` while the uiScroll Workflow does run (and the `Datasource.get` as a part of this process does work). It is set to `false` when the uiScroll does not work and necessary items are retrieved and rendered. We have [isLoading demo](https://dhilt.github.io/ngx-ui-scroll/#/adapter#is-loading). It

[2018-08-01 11:12] alexus85 opened #59 "list entities count"
Is there any way to get a number of entities currently being displayed on screen?

[2018-08-01 14:48] dhilt commented on #59
@alexus85 Hi Alex! No, currently it is not possible, but we may think about how to give such an API in next releases. We already (since v0.0.6) have `Adapter. firstVisible` and `Adapter. firstVisible$` to access first visible item and it's index. I'm also going to add to the Adapter `lastVisible` interfaces. What about `count` and `countVisible` telling how many items are int the uiScroll buffer a

[2018-08-01 17:26] brunohbelo commented on #58
Thanks for the reply. I've changed my UI and I've implemented the Adapter.isLoading$, it helped a lot, but sometimes the scroll seems to hook, I ran some tests and the reason may be the act to keep scrolling. It's possible to set a limer to block unecessary handlers of the scroll?
Here is a performance test that I did

![teste](https://user-images.githubusercontent.com/13396351/43536017-e63dba6a-9

[2018-08-02 01:46] dhilt commented on #58
@brunohbelo The uiScroll has only one scroll handler that is throttled by 40ms by default. This value can be changed via undocumented `Datasource.devSettings.throttle`, so you may try to play with it. Also, scroll handler does skip processing logic if the uiScroll works. I see that current scroll handling implementation is not the best one and there are some ways how to improve it. Anyway, it is v

[2018-08-02 01:46] #58 closed, assigned to nobody

[2018-08-05 20:07] chrsadk opened #60 "IE11"
Hello,

The library works great for my usecase in Chrome, Firefox, Edge and Opera (haven't tried Safari yet).

But it fails in IE11.

I tried opening your demo page in IE11, and it fails as well. Maybe I'm overlooking something?

Is the intention to support IE11?

Best regards
Christian

[2018-08-05 20:54] dhilt commented on #60
@chrsadk Thanks for the issue! I never tried to run it with IE, so it took some time. And I saw the error

and I was able to fix it by modifying polyfills.ts of the demo App. I just uncommented "IE9, IE10 and IE11 requires all of the following polyfills" imports. You may play with this section of your polyfills.ts and precisely find out which imports are needed for your App to be runnable in IE11.

[2018-08-06 12:07] alexus85 commented on #59
yeah that would help. Thanks

[2018-08-06 13:10] mohammed534 opened #61 "can we add checboxes"
because the DOM elements are replacing while we scroll...im loading the data from api on every scroll so is it possible to add checkboxes to the table and select multiple rows and show the selected rows??

[2018-08-06 13:21] alexus85 commented on #61
I suppose you may need to store the state of those check-boxes for each row on client side. And then,  identify the row via index (or some other key) while loading the data and check the box when the row's state meets requirements.

[2018-08-06 14:45] dhilt commented on #61
@mohammed534 You may store the row state right on the item model. Add 'isSelected' field to each item when returning it from Datasource.get. If you are using Observable signature, it could look like

[code]

Then you should be able to use 'isSelected' in the template, create checkboxes, bind selection classes etc:

[code]

[2018-08-06 17:13] agscheidle opened #62 "Virtual scrolling with infinite scrolling/pagination?"
Is there a way to support paginated data sets with this directive so that I can virtually scroll through an infinite scrolling list by updating my datasource  (think async binding via observable) until the user has loaded all the data?

We do this with some data grids elsewhere by using the count/index to slice the data source being fed to the observable. It's handy because it reduces the datasour

[2018-08-06 18:48] chrsadk commented on #60
@dhilt Thanks for checking - turns out I already had the same polyfill imports uncommented in my app.

However, after some more investigation, it's the "entire window scrolling demo" (on route /window) that displays the same error as I'm getting in my app (even with polyfills uncommented in the demo app).

The error is shown in danish on my system, but roughly translated: "Attribute 'scrollTop' ca

[2018-08-06 21:27] dhilt commented on #62
@agscheidle Hi Andrew! I think you may be interested in following issues: https://github.com/dhilt/ngx-ui-scroll/issues/49, https://github.com/dhilt/ngx-ui-scroll/issues/46. The second one is about pagination approach for uiScroll directive and [here is](https://stackblitz.com/edit/angular-hpg9ev?file=src%2Fapp%2Fapp.component.ts) callback-based Datasource.get implementation example. This approach

[2018-08-06 21:53] agscheidle commented on #62
Hi @dhilt, the outline in #46 is actually the approach we have, and it generally works. The issue seems to be that despite calling `adapter.reload()` when the data in the middle cache layer (ngrx entity reducer has all the paged buffer, and a selector returns a slice of that data set), the scroll bottom is reached and cannot continue further.

The fundamental issue that prevents this from working

[2018-08-06 21:59] dhilt commented on #60
@chrsadk I was able to reproduce the issue on the Entire window demo. The following assignment is the root of the problem:

[code]
Per [MDN](https://developer.mozilla.org/en-US/docs/Web/API/document/scrollingElement) IE has no `scrollingElement` property on the document object. So this line (./src/component/classes/viewport.ts:43), I believe, should be replaced with

[code]

While I'm working on t

[2018-08-06 22:22] dhilt commented on #62
@agscheidle Is it correct that the problem is that the uiScroll prevents forward scrolling right after `Adapter.reload()` is called? Skipping infrastructure details, this behaviour is managed by `Buffer.eof` property (end-of-file), which is set to `true` when the size of downward fetched item list is less than `Settings.bufferSize` (15 in your case). Can you check how many items are being fetched

[2018-08-07 15:01] mohammed534 commented on #61
thank you...i'll try this

[2018-08-08 18:28] #60 closed, assigned to nobody

[2018-08-08 21:20] dhilt commented on #59
ngx-ui-scroll v0.0.7 is available via npm!

 - Datasource.Adapter.lastVisible.$index - index of the last visible item object
 - Datasource.Adapter.lastVisible$ - BehaviourSubject of the last visible item object
 - Datasource.Adapter.itemsCount - items that are in the uiScroll buffer, not only visible

To get only visible items you may try
[code]
 All these properties are still undocumented and the

[2018-08-16 20:18] chrsadk opened #64 "Scroll issue on mobile device (Chrome/Android)"
Hello,

I have tested the "Entire window scrollable" demo on Chrome 68.0.3440.91 on mobile device Huawei Mate 10 Pro using Android 8.0.0.

https://dhilt.github.io/ngx-ui-scroll/#/window

It doesn't really allow you to scroll through the items. It stops at some points, and you have to go further up, and then swipe very quick to get a few more rows shown. Sometimes it rapidly jumps to the top.

I do

[2018-08-16 20:48] alexus85 commented on #64
Tried on my iPhone SE (Safari), everything works as expected, but then I
tested it on my second phone Huawei P9 (Android 7.0)
 and was experiencing the same. It just stops at 46 and not letting me
scroll further down the list.

On Thu, 16 Aug 2018 at 22:19, Christian Sloth Andersen <
notifications@github.com> wrote:

[2018-08-20 16:37] dhilt commented on #64
I was able to see the problem on Android 7 too, thanks for the report!
It is true that the entire window scrolling mechanism is different from common scrolling mechanism, so I need to learn how to debug javascript issues on the mobile, and it may take some time.

[2018-08-21 12:34] alexus85 opened #65 "Add blank rows while fetching new items"
Would it be possible to add blank rows of expected quantity (before dispatching the request) instead of increasing the gap in top or bottom part of the list when scrolling?
It's really annoying to see the blank space while waiting for the data to be loaded, if the above was possible, we could  show blank rows (with a spinner for example)  and once the data are loaded we can then populate the pre-g

[2018-08-21 14:27] dhilt commented on #65
I see, you want some stub rows to be inserted into the view before the Datasource.get call. This feature definitely could be implemented, and I've already thought about it. There are some difficulties with uncertain heights case... So putting the "enhancement" label for now.

[2018-08-21 14:31] #59 closed, assigned to nobody

[2018-08-21 14:32] #61 closed, assigned to nobody

[2018-08-21 14:34] #56 closed, assigned to dhilt

[2018-08-23 16:15] mostafa321 commented on #64
Hello dhilt,
 any update about the problem in scroll in chrome and android devices (example android 7 and 8).
kindly update me.
thanks

[2018-08-23 16:45] dhilt commented on #64
@mostafa321 Sure! I started the investigation and looks like late Android treats browser static header in some special way that has impact on scroll process. I have [branch](entire-window-rect-params) where I'm trying to deal with it (the results are deployed on [dhilt.github.io](https://dhilt.github.io/ngx-ui-scroll/#/window) and as I can see the behaviour is a bit better). I need some more time

[2018-08-24 12:34] mohammed534 commented on #40
i'm getting this error
Datasource get method invalid signature

[2018-08-24 13:19] dhilt commented on #40
@mohammed534 please open another issue, post your code and I will take a look

[2018-09-25 08:20] zm3d3ni commented on #55
Any updates on chat demo? :)

[2018-09-25 09:28] dhilt commented on #55
@zm3d3ni Thanks for the reminder! You know, the next release is going to be 1.0.0, but despite almost 100 commits difference with current `master`, there is still a lot of work ([workflow-5](https://github.com/dhilt/ngx-ui-scroll/tree/workflow-5)). Each day commit after commit we are moving to 1.0.0, and it should take a couple of weeks, I'm not sure... Right after it I will extend the Adapter to

[2018-10-05 16:42] bernard4uece opened #68 "Virtual scroll for grouped items with nested ngFor"
I am looking for any pointers on how to implement this virtual scroll for nested ngfor scenarios where I grouped data and iterating through group.items in inner ngFor. Please let me know

[2018-10-07 12:36] dhilt commented on #68
@bernard4uece If you want to use ngFor for each row of virtualized dataset, it may look like

[code]

where datasource must provide an array of items `{ text: "...", data: [1, 2, 3, ...] }`

[code]

As a result you will get following:

[code]

Does this satisfy your needs?

[2018-10-07 16:43] bernard4uece commented on #68
Thanks for the inputs. I am not sure if I followed you correct but I tried to use this solution and it didn't work for me. I think I am missing something and may be stackblitz with my reference code would help you understand better what issues I have and where I am doing wrong.  I will try to do it and keep you posted when I get time. Appreciate your response

[2018-10-07 17:15] dhilt commented on #68
@bernard4uece Yep, stackblitz would be the best option. And also I would ask you to describe desired behaviour, desired output.

[2018-10-08 21:37] bernard4uece commented on #68
@dhilt Please see the [stackblitz](https://stackblitz.com/edit/angular-grouped-data-table) I have something pretty similar table with at least 20-30 groups with each group having 50-100 records. When I scroll through table body, I am looking for the option to render only records that are visible in that table body height. Please let me know if you followed what I described. Appreciate any inputs.

[2018-10-08 23:32] dhilt commented on #68
@bernard4uece The approach I described above is definitely applicable to your task. Here is the updated stackblitz: [angular-ngx-ui-scroll-grouped-data-table](https://stackblitz.com/edit/angular-ngx-ui-scroll-grouped-data-table). You are lucky, it works because the uiScroll can virtualise rows of uncertain height.

[2018-10-09 13:07] bernard4uece commented on #68
@dhilt Thanks for quick response. Your stackblitz fork really helped me a lot and I am now able to implement this feature in my app. I truly appreciate your help and thanks for your contribution to this open source world. I think we can close this issue now.

[2018-10-09 13:08] #68 closed, assigned to nobody

[2018-10-11 15:11] bernard4uece opened #69 "virtual scrolling on sub groups"
@dhilt I have weird requirement now. I created new [stackblitz](https://stackblitz.com/edit/angular-ui-scroll-detailed-view-grouped-data-table). Now I need to implement virtual scrolling for sub groups because there is requirement to implement to display detailed view for each item in the group. And with each group having like items up to 100, rendering entire group is still causing performance is

[2018-10-11 17:22] dhilt commented on #69
@bernard4uece As I understand this is the another part of issue https://github.com/dhilt/ngx-ui-scroll/issues/68. The common way I see is to normalise your data to have a flat list instead of nested lists. Very rough, from

[code]

to

[code]

or better

[code]
Previously we were feeding the Datasource with the initial `data` which had uncertain sub-items lists, now we will do it with normalised `

[2018-10-11 19:44] bernard4uece commented on #69
@dhilt thanks for the advise!! I think flattening the groups and it's items should do

[2018-10-21 03:31] sesellis opened #71 "this.datasource.adapter is undefined"
I am following the example for the reload index functionality shown here: https://dhilt.github.io/ngx-ui-scroll/#/adapter but I am getting Error Type Error "this.datasource.adapter is undefined". Is there an additional package required to install the adapter?

[2018-10-21 11:28] dhilt commented on #71
@sesellis
1. Datasource should be initialized via operator _new_:

[code]

2. And then the Adapter could be accessible via `this.datasource.adapter`.

3. The Adapter call should occur only after the Datasource had been instantiated. For example you can't call the Adapter on your component's constructor if you are instantiating the Datasource on your component's ngOnInit.

In case this doesn't help

[2018-10-24 11:48] Kim-Andersen commented on #40
@dhilt Any news on this enhancement?

[2018-10-24 15:05] sesellis commented on #71
Perfect, thank you. I was trying to combine one of the examples that didn't use new.

[2018-10-24 15:05] #71 closed, assigned to nobody

[2018-10-31 15:37] gamefundas opened #73 "Empty space buildup at the top when row item change height"
Is there a way to refresh the scroll bars when the items change height as I noticed in my use of the component that when the row items change height after the view is rendering scrolling with the new items now causes empty space at the top of the list.

[2018-10-31 16:53] dhilt commented on #73
@gamefundas Currently we have no mechanism for dynamic items heights adjustment after the view is rendered, but let's think about how it could be. What scenario you have for this issue? Do you know the exact moment when some given item's height is being changed? or a time interval when it can occur?

If we know the time, we may try to implement height listener, and adjustment will happen silently.

[2018-11-01 01:10] dhilt commented on #40
@Kim-Andersen ngx-ui-scroll v1.0.0 is [almost ](https://github.com/dhilt/ngx-ui-scroll/pull/67) here, so I guess table-layout feature can be started soon after this release.

[2018-11-06 00:44] sesellis opened #74 "Horizontal scroll not scrolling"
I am working on getting horizontal scroll implemented in a project. I have followed the demo page but I am unable to get the example working in my own project. It appears that the display: inline-block does not apply to the child divs inside each element so they simply stack on each other. To verify that CSS is not the issue, I have included the rendered code by copying the outer HTML from the bro

[2018-11-06 03:58] dhilt commented on #74
@sesellis Thanks for the issue and especially for stackblitz demo. With the help of your demo the problem could be investigated quite quickly. Let's look at the result html:

<img width="515" alt="screen shot 2018-11-06 at 06 09 25" src="https://user-images.githubusercontent.com/4365660/48040587-9f59d080-e18a-11e8-8f5e-918ddc80cdee.png">

Some divs have `_ngcontent-c36` attribute, some don't.  The

[2018-11-06 16:08] sesellis commented on #74
Excellent description and solution recommendations!

Sam

[2018-11-06 16:08] #74 closed, assigned to nobody

[2018-11-06 18:07] chrsadk commented on #64
Hi @dhilt. Any chance you had time to investigate further?

[2018-11-06 19:05] dhilt commented on #64
@chrsadk Christian, yesterday we have released first major version of the lib and it should have an impact on mobile experience too. May I ask you to review https://dhilt.github.io/ngx-ui-scroll/#/window behaviour? If you have some specific scenario/app environment, let's discuss it and try to reproduce it separately. For me the issue looks acceptably with v1.0.0 but I may miss something.

[2018-11-07 11:55] paul-moers opened #75 "With `maxIndex` setting first get call has count 1"
I'm optionally only allowing scrolling up and using the newly added setting maxIndex as

But the result is that the first get call has a count value of only 1 instead of the bufferSize.

In version 0.0.7 I could achieve this by calling success with an empty array and returning form the get callback for a 'down' call, but this now prevents any data load.

[2018-11-07 15:13] dhilt commented on #75
@syngi Thanks for the issue! may I ask you to fork [this stackblitz demo](https://stackblitz.com/edit/angular-ngx-ui-scroll-1-0-0) (it's for v1.0.0 and Angular 7) and add necessary infrastructure to reproduce the issue? I really want to help you and this would save some time...

[2018-11-07 15:59] paul-moers commented on #75
@dhilt of course, done [here](https://angular-ngx-ui-scroll-1-0-0-aau597.stackblitz.io). Thanks for the help and for this great script!

As a side note I also had to manipulate the data-padding-forward (set it's display to none) to get the items fill from the bottom of the container on load. I have that working so it's fine for me, but I can raise an issue for it if it's useful. The issue is showi

[2018-11-07 22:09] dhilt commented on #75
@syngi If you define following settings:

[code]

you will not need to play with padding elements (if the item height is known). First downward fetch will cover all the viewport. Could you also specify what do we want to achieve from this point? For example, I don't see `this.allowDown` condition...

[2018-11-09 07:38] paul-moers commented on #75
@dhilt thanks for the suggestion, thought the issue for being able to use startIndex is that you must know how many items will fit in the viewport, in other words, how heigh each item is. But I'm wrapping the uiScroller in a component adding features (like top and bottom placeholders for e.g. showing a load spinner until that direction of the list is fully loaded; make first element the base eleme

[2018-11-13 10:18] dhilt commented on #75
@syngi I've just released v1.0.1 and it became possible to implement autoscroll feature which might be helpful in your case. The thing is we create a subscription to catch the moment when the uiScroll has finished its work (isLoading = false and there is lastVisible row) and then make an adjustment of scroll position in accordance with viewport-lastVisible bottoms difference.

[code]

We use `adap

[2018-11-13 14:35] paul-moers commented on #75
Hi @dhilt, nice to see features being added, and this can be used for having the first item bottom aligned in the list viewport, though it seems not to help with the first get call having count value of 1?

[2018-11-13 23:13] dhilt commented on #75
@syngi Current implementation of the uiScroll initialisation process gives us one downward fetch (which will result 1 item in case `maxIndex` is set to minimal possible value) and one upward fetch (which will result at least `bufferSize` items).  In general only `startIndex` might help with the first batch length in your case, but this requires knowing of items height. From the other hand we can a

[2018-11-28 11:09] paul-moers commented on #75
@dhilt it's just that to me it seems odd to have a downward fetch at all when maxIndex is 0.
But I understand that the current solution is to work with startIndex and autoscroll after the first cycle. Though as you say for this the height if the items must be known, which is not. So for now work-as-designed I understand.

[2018-12-11 06:56] Climax777 opened #77 "Multiple items per row"
Hi

I would like to know if this supports multiple items per row, for example when flex-box is used? None of the examples show that it could.

[2018-12-11 16:24] dhilt commented on #77
@Climax777 It's a great issue and currently we don't have such a functionality. Marking this issue with "Enhancement" label.

By the way, if you know the exact number of items per row, you may build an additional layer (via template and Datasource implementation) to provide N original items as 1 combined item...

[2019-01-03 09:04] Avishaidev commented on #55
There is any demo for this?
When the page is init i want to start with 20 last messages and need to start scroll at bottom.
And when i scroll up i want to load 20 more items any time.
any suggest?
Thanks

[2019-01-04 04:45] dhilt commented on #55
@Avishaidev The behaviour you are asking for could be implemented at the `Datasource.get` method layer. There is "Inverted datasource" demo which provides one of the possible approach: https://dhilt.github.io/ngx-ui-scroll/#/datasource#inverted-indexes. If you will have questions on inverted datasource logic, I would ask you to open new issue, because this one is mostly about adding new items on-f

[2019-01-04 07:56] Avishaidev opened #80 "Inverted datasource logic"
How can i start the scroll on bottom?
I have items with diffrent height (chat app with messages / images / video etc...)
And why on the page init the datasource run the get function twice?
I set buffer size to 20

[2019-01-04 11:46] Avishaidev commented on #80
@dhilt I just figure it out and fix my code to do all i need and its perfect!!!
I have only one thing that i don't find ant thing about it.
How can i add new item (message) to the datasource, i mean all are loaded and new message received, How can i add this message?
Thanks

[2019-01-04 15:21] dhilt commented on #80
@Avishaidev Glad to know that you have managed to work through the inverted datasource demo! Issue https://github.com/dhilt/ngx-ui-scroll/issues/55 is about adding new items on-flight, and as I said yesterday we are pretty close to new release that will include this functionality.

Btw, single item prepending should work, and if you want, you may try it running from [this branch](https://github.co

[2019-01-04 16:09] Avishaidev commented on #80
Thanks for the fast reply, i need the append item function so i will wait for the new release.
Do you know how long it will takes?

[2019-01-05 05:33] dhilt commented on #80
@Avishaidev I just released v1.0.2 and you may try Adapter.prepend in action. This functionality is not fully tested/optimized, but basic scenarios should be ok. The documentation also is not updated, but I drafted 2 demos: please follow [prepend demo](https://dhilt.github.io/ngx-ui-scroll/#/adapter#prepend) and  [prepend-sync demo](https://dhilt.github.io/ngx-ui-scroll/#/adapter#prepend-sync).

[2019-01-05 05:38] Avishaidev commented on #80
Look perfect, i don't need this right now, i am waiting for the append function.
Please can you say date that "append" will be ready?

[2019-01-05 14:10] dhilt opened #81 "Adapter.append method"
Need to implement Adapter.append method to be able to add items to the end of the scroller' buffer on-flight.

[2019-01-05 14:13] dhilt commented on #80
@Avishaidev I would say 3-4 hours are needed, because it is much easier than prepend, but I'm not sure, probably I will be able to look at this in 1-2 days... I opened separate issue: https://github.com/dhilt/ngx-ui-scroll/issues/81.

[2019-01-05 14:13] #80 closed, assigned to nobody

[2019-01-05 14:46] Avishaidev commented on #81
Thanks alot!!!

[2019-01-07 06:50] Avishaidev commented on #81
@dhilt any update ?

[2019-01-07 16:26] dhilt commented on #81
@Avishaidev I have some time today and opened PR https://github.com/dhilt/ngx-ui-scroll/pull/82, maybe we'll have a luck and it will be done today.

[2019-01-07 20:00] Avishaidev commented on #81
@dhilt Thanks alot!
Waiting for you.

[2019-01-08 03:52] dhilt commented on #81
@Avishaidev v1.0.4 has been just released. It includes Adapter.append method. Please follow [documentation](https://github.com/dhilt/ngx-ui-scroll#adapter-api) and also [append-prepend](https://dhilt.github.io/ngx-ui-scroll/#/adapter#append-prepend-sync) and [append-prepend-sync](https://dhilt.github.io/ngx-ui-scroll/#/adapter#append-prepend-sync) demos.

[2019-01-08 20:31] Avishaidev commented on #81
@dhilt Thanks works like a charm!!!
can you add option to load more items from index.
Now is load more items when you scroll to bottom / top, i want to load more before the user got top scrolled.

thanks

[2019-01-09 01:16] dhilt commented on #47
Closing this per minIndex setting implementation is done! See [demo](https://dhilt.github.io/ngx-ui-scroll/#/settings#min-max-indexes).

[2019-01-09 01:16] #47 closed, assigned to nobody

[2019-01-09 01:18] #36 closed, assigned to nobody

[2019-01-09 01:30] dhilt opened #83 "Adapter.insert method"
We already have `Adapter.append(items, eof)` and `Adapter.prepend(items, bof)` methods which allow to add new items at the beginning and at the end of the dataset. Now we want to be able to add items by index.

[2019-01-09 01:37] dhilt commented on #81
@Avishaidev Adding more items to the top of the buffer without scrolling can be done via Adapter.prepend method. Also, I opened new issue https://github.com/dhilt/ngx-ui-scroll/issues/83 dedicated to adding items by index.

[2019-01-09 01:37] #81 closed, assigned to nobody

[2019-01-09 02:00] dhilt commented on #55
Since ngx-ui-scroll v1.0.4 had been released, we have all necessary functionality to implement Chat UI: inverted datasource logic ([demo](https://dhilt.github.io/ngx-ui-scroll/#/datasource#inverted-indexes)), Adapter.append and Adapter.prepend methods ([demo 1](https://dhilt.github.io/ngx-ui-scroll/#/adapter#append-prepend), [demo 2](https://dhilt.github.io/ngx-ui-scroll/#/adapter#append-prepend-s

[2019-01-09 02:00] #55 closed, assigned to nobody

[2019-01-09 02:05] dhilt commented on #39
Closing this per further releases (1.0.0+) have fully refactored scroll engine. If the new version still has a problem, a new issue should be created.

[2019-01-09 02:05] #39 closed, assigned to nobody

[2019-01-09 02:10] dhilt commented on #62
Since the first major release, pages-based datasource implementation had been included in the list of official demo samples ([link](https://dhilt.github.io/ngx-ui-scroll/#/datasource#pages)).

[2019-01-09 02:10] #62 closed, assigned to nobody

[2019-01-09 02:11] #69 closed, assigned to nobody

[2019-01-09 11:33] SewerynLasko opened #84 "Height listener- dynamic change of the row height after items render"
Hello,
we've been using the library and it's great- but there is one thing we would like to ask you.
The problem we have right now is that we render for instance 20 rows (which have various heights, so for instance 100px, 320px and so on) and then the user has ability to collapse each of the rows to the certain height (for instance 20px). The problem appears when we collapse the rows- by changing

[2019-01-09 13:26] dhilt commented on #84
@SewerynLasko Issue https://github.com/dhilt/ngx-ui-scroll/issues/73 is about it (it's okay, let's keep both). I think, as a first step, a new API method may appear on the Adapter object, and we need to imagine what signature might look like.

For example,

[code]

will trigger recalculation/rerender if height of item with given id has been changed. This item should exists in current uiScroll buff

[2019-01-09 16:24] SewerynLasko commented on #84
Well, I think that for our usecase the first solution would be great- it seems also to be easier to implement.
The second one- update, is surely a nice feature but the development will probably take some time. Maybe the best solution for now would be to add onSizeChanged method, and later on- if more requests for the update feature appears also implement that one?

[2019-01-10 03:44] dhilt commented on #84
@SewerynLasko Got it... I need to think a bit, maybe `onSizeChanged` will be implemented but not documented for the purpose of replacing it with more generic approach in future.

Anyway, the solution will be included in the nearest release. Stay up to date!

[2019-01-10 15:46] SewerynLasko commented on #84
Cool, sounds great! Thanks a lot!

[2019-01-18 13:29] SewerynLasko commented on #84
@dhilt are there any estimates when the next version will be released?

[2019-01-21 02:04] dhilt commented on #84
The PR is opened (https://github.com/dhilt/ngx-ui-scroll/pull/85), and I would say that the basic functionality is implemented, but I stuck to inertia scroll fixes.

[2019-01-23 15:49] SewerynLasko commented on #84
Thanks for the update and for taking a look on the issue!
Do you think that the PR could be merged by the end of this month?

[2019-01-24 06:32] dhilt commented on #84
@SewerynLasko I think yes... Also, if I can't finalize all the work for this feature, I will make an interim release. Maybe it is a good idea to make, say, beta version or `@next` release  irrespective of whether it is 100% done or not, for you may try and test it on your end.

[2019-01-29 09:15] SewerynLasko commented on #84
Sounds great, thanks! :)
Yes, that's true- such beta version would be great, we could give some feedback during the development stage!

[2019-02-04 08:58] SewerynLasko commented on #84
Hey @dhilt! Could we expect the new version to be released this week?

[2019-02-04 10:16] dhilt commented on #84
@SewerynLasko  Yep, it's almost done, it will be minor v1.1.0 release, perhaps 1.1.0-beta. Sorry for delay!

[2019-02-05 07:52] SewerynLasko commented on #84
Cool! Thanks!

[2019-02-07 06:45] dhilt commented on #84
Hi @SewerynLasko ! I need you to try 1.1.0-beta before I publish it, the steps are

- download zip file [ngx-ui-scroll.zip](https://github.com/dhilt/ngx-ui-scroll/files/2839522/ngx-ui-scroll.zip)
 - unpack it and move to your project' `node_modules` folder instead of existed `node_modules/ngx-ui-scroll`

This way new unpublished version can be installed manually.

After this `Adapter.check()` meth

[2019-02-18 14:59] SewerynLasko commented on #84
Hey @dhilt!
Excuse me for late reply, but I was out of office last week.
Thank you for the prerelase version- I greatly appreciate your effort. Today I've checked it and I really like how it works right now, great work! Together with our quality assurance guys we've found some minor issues, please find the below:

1.) As I said- we really like how the scroll works right now, but would be possible

[2019-02-20 10:01] dhilt commented on #84
@SewerynLasko 👍will take a look as soon as I have time.

[2019-02-23 20:58] dhilt commented on #84
@SewerynLasko Regarding first issue, I deployed dev-branch on heroku: https://ngx-ui-scroll.herokuapp.com/#/adapter#check-size -- it contains draft demo of Adapter.check + autoscroll. As you can see, the suggestion is to implement autoscroll outside the directive, and this demo shows an example of such implementation. By selecting "autoscroll" option and clicking on "Resize and Check" button you'l

[2019-02-25 15:15] SewerynLasko commented on #84
Hey! Thank you for the demo!
Is that the same package version that you've uploaded in the .zip file?

[2019-02-26 11:24] dhilt commented on #84
@SewerynLasko Exactly. Also, I'm almost ready to release 1.1.0-rc, just need to clarify some minor scenarios and walk through your second issue.

[2019-02-28 12:06] SewerynLasko commented on #84
Hey, I've made some POC with the provided version. Autoscroll seems to be working (it's not tested by the QA yet). I needed to add a small settimeout before calling autoscroll since it was firing too fast and therefore calculating heights incorrectly. You can see a small lag therefore- but I guess we can not overcome that easily right now (it's still much better that doing a reload). Thank you for

[2019-03-11 08:16] Avishaidev opened #86 "Adapter remove/update method"
There is an option to remove / update item from adapter?

[2019-03-15 13:29] dhilt commented on #86
@Avishaidev

**Update**

The thing is that updating items (in general) does not require any additional efforts, data changes can propagate to the uiScroll automatically, because the uiScroll takes items from the Datasource as is and never clones them. So you need to provide array of objects on Datasource.get (for copying by reference) and these objects should be passed to the Datasource from the o

[2019-03-15 13:46] dhilt commented on #86
@Avishaidev

**Remove**

This is important case and currently we have no mechanism to removing items via Adapter. We certainly want this feature. But for now it should be possible to do following workaround:

 - set flag `removed` on each item which is false by default
 - item's template should depend on this flag (ngIf="!item.removed")
 - when you want to remove an item, you should turn `removed`

[2019-03-20 20:03] jonnyleeharris opened #87 "Rapid scrolling triggered on iOS"
I have noticed I can trigger some very rapid data fetching/list population on iOS which causes an inadvertent UX: the upwards scroll gets out of hand and you practically lose control of the list:

Two ways it's evident: If you rapidly scroll upwards, or if you scroll to the top of the viewport, trigger the reload and then maintain your finger position and slightly scroll up and down (a very minima

[2019-03-20 21:08] dhilt commented on #87
@jonnyleeharris The description makes me me think about inertia scroll issue. What version are you using? v1.1.0-beta is the latest one at this moment and it has a bit different mechanism of inertia processing than 1.0.x. Also, you need to switch `devSettings.inertia` to true.

[2019-03-20 22:49] jonnyleeharris commented on #87
@dhilt Yes I am on 1.1.0-beta, sorry - forgot to mention that.

Tried with `inertia: true` - the result is the same unfortunately.

Did you intend for it to be used with `-webkit-overflow-scrolling: touch;`?

Is there any more information I could provide or any recommendations you might have that might help me solve this or at the very least figure out why it's happening?

[2019-03-21 01:22] dhilt commented on #87
@jonnyleeharris No, I didn't use `-webkit-overflow-scrolling: touch;` and never tried it on iOS. Though I worked a lot with Mac touchpad and I would say it is most painful part of momentum/inertia stuff I have to deal with during my work on ngx-ui-scroll.

By the way, let's see what [MDN](https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-overflow-scrolling) says about `touch`:

And this one

[2019-03-22 16:39] jonnyleeharris commented on #87
@dhilt Thanks for the insight.

What is your inertia implementation supposed to do?

I'll look into this further, I hope I can somewhat address this so I can use it in a production PWA I am going to make.

[2019-03-22 17:54] dhilt commented on #87
@jonnyleeharris Ngx-ui-scroll does not implement inertia, he fights inertia and can't beat it in some cases (I mean the idea is not to remove the inertia, but make it manageable). Dev-log should show something. Ngx-ui-scroll tries to live with different inertia implementations came from different devices/browsers, and Mac experience seems most problematic. And as I noticed, `-webkit-overflow-scrol

[2019-03-22 18:05] jonnyleeharris commented on #87
@dhilt I'll update this issue when I figure out what's causing the problem. So far from all the virtual scroller implementations I have tried, yours seems to be the cleanest, and most sensible API - not to mention it works great for lazy loading in both directions - so thanks :)

Back to the issue at hand..

`-webkit-overflow-scrolling: touch` is required on iOS however if you want to have that na

[2019-03-24 16:37] dhilt commented on #87
@jonnyleeharris Jonathan, may I ask you also to try the previous `v1.0.4` release and the newest `v1.1.0-beta.1` one? They have some changes around handling the inertia and there is some chance that it may have an impact on your issue. Also, scroll events logging was slightly improved in `v1.1.0-beta.1` and it could be helpful for the debugging purposes.

[2019-04-04 15:34] jonnyleeharris commented on #87
@dhilt Sorry I didn't get back to you on this. It became less of a priority for me. I ended up making a virtual list component in React - and guess what... I found the same bug! I think it's related to the way iOS handles the edge bounce scroll event and how we are handling it. When I get to looking into it in my React component I will let you know what I find - maybe it will help.

[2019-04-09 05:55] philly-vanilly opened #90 "Allow to pass all the data at a time (as an alternative to Datasource.get)"
If I understand correctly, there is no way to pass a whole array of items (handled in the redux store or some other external model) to the adapter/datasource-get and make it accept all of them. Instead you have to manually synchronize all the changes that happen at network-layer with subscibe/update methods. For enterprise applications that have layered architecture with separation of business and

[2019-04-09 11:29] dhilt commented on #90
@philly-vanilly  Thanks for the issue! Looking through Material CDK Virtual scrolling documentation, I would say that current ngx-ui-scroll approach correlates with "Virtual scroll with a custom data source" ("Specifying data") Material approach. They also suggest to implement MyDataSource and provide paging data flow manually ([example](https://stackblitz.com/angular/lvmmplvepem?file=app%2Fcdk-vi

[2019-05-26 16:53] mbarouski opened #91 "Can't use observable which emits more than once"
Hey @dhilt
I have an issue with using of observable which emits more than once:
[code]
UIScroll reacted only once.

Also tried to use `this.datasource.adapter.reload()` but it throws error:
[code]
in this code:
[code]

UPDATED: `this.datasource.adapter.reload()` works but it's initialized not immediately, isn't there an event to get known that adapter is initialized?

UPDATED: Found `this.datasour

[2019-05-29 13:01] carthworks commented on #86
@Avishaidev   can you create a stackblitz demo for above explanation

[2019-05-29 15:01] mxswat commented on #86
@Avishaidev I would like to remind you if you put a *ngIf on the same element of the directive you get the following error:
Can't have multiple template bindings on one element. Use only one attribute prefixed with *

Also if you try to use this trick with a list of 100000+ items and you "remove" all except the first the entire browser page freeze

[2019-05-29 15:16] carthworks commented on #86
Hi @Avishaidev thanks for the respond.  Please check :[https://angular-ngx-ui-scroll-karthik.stackblitz.io](https://angular-ngx-ui-scroll-karthik.stackblitz.io).
My need is s_how two set of data on the same view port with_ button click (**search**, **normal**).  plz check , any help is appriciated

[2019-05-29 15:18] carthworks commented on #86
sorry,  with code window - [https://stackblitz.com/edit/angular-ngx-ui-scroll-karthik?embed=1&file=src/app/app.component.html](https://stackblitz.com/edit/angular-ngx-ui-scroll-karthik?embed=1&file=src/app/app.component.html)

[2019-05-30 10:49] mxswat commented on #86
Have you tried to use a filter?
Here's an example
https://stackoverflow.com/questions/34164413/how-to-apply-filters-to-ngfor

[2019-06-05 12:40] dhilt commented on #91
@maximka777 Sorry for the delay, I was busy with [Adapter.remove](https://github.com/dhilt/ngx-ui-scroll/pull/89) and that story is not finished yet...

Have the problems been resolved? Does Adapter.init$ satisfy your needs?  I would love to have repro ([stackblitz](https://stackblitz.com/edit/angular-ngx-ui-scroll-1-0-0)?) to investigate how the Adapter might lose its context. Even if you were ab

[2019-06-05 13:42] mbarouski commented on #91
@dhilt I will make repro of my issue.

[2019-06-05 20:37] mbarouski commented on #91
There is repro https://stackblitz.com/edit/angular-ui-scroll-observable-additional-emits-ignore
I return behavior subject in `datasource.get` and do `.next(...)` on button click, but ui scroll view is not updated. I expect that view is updated on new data in subject.
Maybe there is some workaround to get such behavior?

[2019-06-05 22:50] dhilt commented on #91
@maximka777 What a behaviour you are trying to achieve with your `handleClick` method? `Datasource.get` is the legal place where you can get into the uiScroll and tell him what items need to be rendered. This method is being called by the uiScroll automatically when scroll events occur. Also, there are some `Adapter` methods providing scroller-component interaction based on user actions.

For exam

[2019-06-06 08:47] mbarouski commented on #91
Ui-scroll component should show new items according to new index when a user clicks the button. In other words sometimes I need to set items for showing manually (without scrolling).

[2019-06-06 08:48] mbarouski commented on #91
I can return observable from `datasource.get` but it is handled like a promise (only one resolve).

[2019-06-06 11:45] dhilt commented on #91
@maximka777 In this case `Adapter` is your friend. Append, prepend and reload can be used for updating the viewport without scrolling.

One of the most important things is that external datasource (in component) must be synced with the changes you are making for the uiScroll. The difference between synced and non-synced updates is being discussed on the prepend demos page ([here](https://dhilt.git

[2019-06-08 07:54] mbarouski commented on #91
Thanks for your answer :)

[2019-06-19 11:13] #91 closed, assigned to nobody

[2019-07-03 06:39] antidote2 commented on #64
The Demo exposes a problem to me at least on android: scrolling stops at the end of fetched items. I the next second I must scroll again to see more. For me it is annoying. I think it would be solved with the other request if you would display dummy items during the load. That could be further improved by prefetching items from the datasource, so they are readily available for display when you sta

[2019-07-05 14:54] dhilt commented on #86
The `Adapter.remove` method had been added to ngx-ui-scroll v1.1.0 which is now available via npm. The demo is here: https://dhilt.github.io/ngx-ui-scroll/#/adapter#remove. If there are any problems/questions, please feel free to create new GitHub issues.

[2019-07-05 14:54] #86 closed, assigned to nobody

[2019-07-10 12:03] dhilt commented on #84
ngx-ui-scroll v1.1.0 had been released and is available via npm.
It includes Adapter.check and Adapter.remove methods, the doc and official demos could be found at [Adapter API](https://github.com/dhilt/ngx-ui-scroll#adapter-api) section of README.
Please feel free to open new issues if any problems or questions!

[2019-07-10 12:03] #84 closed, assigned to nobody

[2019-07-10 16:43] dhilt commented on #75
Currently (v1.1.0) the issue can't be reproduced, and as I see it was fixed with [this commit](https://github.com/dhilt/ngx-ui-scroll/commit/e5d5962b0083ce94a2faa50c8171370afe4c0f18). So no autoscroll is needed, the case should work out-of-box.

[2019-07-10 16:43] #75 closed, assigned to nobody

[2019-08-06 16:12] StriderRanger opened #92 "Problem with scrolling to the bottom of the list"
I need at some point of my app to scroll down to the bottom of the list. It works fine until I add a margin to the items, there the scroll begins to behave unexpectedly.

This behavior can be tested in [this sample](https://stackblitz.com/edit/ngx-ui-scroll-to-bottom), where you can notice two main problems:
- The `startIndex ` does not place the scroll to the bottom of the list even if the last i

[2019-08-06 23:23] dhilt commented on #92
@StriderRanger Looks like we aren't working with margined templates. The average items height is being calculated without taking into account margins, and this breaks internal viewport params calculations (scrollHeight becomes inaccurate). We might try to see what can be done here, but the issue may be very far from easy. For example, [margin collapsing cases](https://developer.mozilla.org/en-US/d

[2019-08-06 23:23] dhilt commented on #92
Also, how did you find `Adapter.setScrollPosition` method? Why don't you use just

[code]
?

[2019-08-07 16:59] StriderRanger commented on #92
The workaround solved my problem, thanks! I also changed the margin by the padding property and it worked too.

Between, I found the `setScrollPosition` in [the `Check size`  docs](https://dhilt.github.io/ngx-ui-scroll/#/adapter) example. When my scroll to bottom was not working, I just thought that using an api method would be better. I am using the `scrollTop` now with the working solutions.

[2019-08-07 19:05] dhilt commented on #92
@StriderRanger Thank you! Closing this issue... Please feel free to open new one if you have another questions.

[2019-08-07 19:05] #92 closed, assigned to nobody

[2019-08-12 23:54] StriderRanger opened #93 "Prepend method while being in top adds too much elements in the DOM"
When inspecting the DOM while working with [prepend method](https://dhilt.github.io/ngx-ui-scroll/#/adapter#append-prepend-sync), I noticed that prepending X numbers of items while **being in the top** of the list, injects X additional elements in the DOM even if this number exceeds by far the [bufferSize](https://dhilt.github.io/ngx-ui-scroll/#/settings#buffer-size) defined for the list.

I notic

[2019-08-13 22:43] dhilt commented on #93
@StriderRanger Thanks for the issue! Basically, it is not supposed that you can manage a number of DOM elements directly. The `bufferSize` setting defines a minimal number of items the UIScroll might retrieve per single `Datasource.get` call. So it seems impossible to have `bufferSize` elements in DOM no matter what the value of `bufferSize` is.

I would say, if you want to have as minimal number

[2019-08-14 18:25] StriderRanger commented on #93
Thank you for your reply!
The problem I am facing is not related to the bufferSize exact value as much as it is related to the 'infinite' adding of elements to the ui-scroll. This problem occurs as long as I call the prepend method while scrolling up the list.

To make things more clear, and as requested, I created [this example](https://stackblitz.com/edit/ngx-ui-scroll-prepend), and the results

[2019-08-14 21:44] dhilt commented on #93
@StriderRanger Now I see... the demo is very helpful. The thing is the UIScroll runs clipping process only after fetching new items via `Datasource.get`. I hear your concerns, let me think a bit what could be suggested to resolve them.

[2019-08-14 22:06] StriderRanger commented on #93
Sounds good :) thank you very much for your support!

[2019-08-16 11:30] telion2 opened #94 "What happens if Datasource gets an empty array?"
If I give uiScroll an empty array, the cpu usage of the browser suddenly skyrockets and the Dom
is empty.
Just do this to reproduce:
[code]
Why is this a problem?
Because first: its quite common and easy to have empty arrays, especially if you have to get them from somewhere.
Second: even if I later want to push data, the whole thing is stuck an therefore doesnt update.

Also I have a general ques

[2019-08-16 13:34] dhilt commented on #94
@telion2 Looks like you are dealing with [Inverted datasource](https://dhilt.github.io/ngx-ui-scroll/#/datasource#inverted-indexes) sample. I tried to comment out `data.push` locally and didn't see any performance issues. So speaking of CPU overload, memory leaks etc I would like to have more detailed repro, say, on stackblitz.

As you know, `Datasource.get` implementation must provide an array of

[2019-08-16 14:40] dhilt commented on #94
Just updated [README](https://github.com/dhilt/ngx-ui-scroll#usage).

[2019-08-19 09:38] telion2 commented on #94
I finally found out why how it happens.
So basically I'm using flexgrid of PrimeNg and this css class adds a padding of 0.5em.
Consequently a scrollbar appears because of `overflow-y:auto `and if I use that scrollbar uiScroll goes mental if it doesnt have some data to display.
Editor:
https://stackblitz.com/edit/angular-hwtptc
Browser:
https://angular-kw68xu.stackblitz.io

About the updating:
So t

[2019-08-19 09:41] telion2 commented on #94
That error also only appears in the console of the browser and not in the stackblitz console.

[2019-08-20 02:55] dhilt opened #96 "Adapter initialization refactoring (Cannot read property 'log' of undefined)"
Currently the process of the Adapter initialization is unduly complicated, it consists of instantiating and initializing which are being placed in different js call stacks. This might lead to unhandled errors during early calls, like `Adapter.reload()` on host component's initialization (ngOnInit).

Need to synchronize Adapter API methods early calls with later Scroller initialization.

__________

[2019-08-20 16:40] dhilt commented on #94
@telion2 Having your demo I was able to investigate the error (Cannot read property 'log' of undefined) and created separate bug issue https://github.com/dhilt/ngx-ui-scroll/issues/96. It's definitely the UIScroll bug and I'll look into it.

Another one issue I see is that you may call `Adapter.append` during the UIScroll workflow is not stopped. For example, the UIScroll is going to fetch 1..5 it

[2019-08-21 00:33] dhilt commented on #93
It was decided to go with Adapter.clip() method that will provide removing out-of-viewport items by demand. The work had been started, the PR is the https://github.com/dhilt/ngx-ui-scroll/pull/97.

[2019-08-21 09:03] telion2 commented on #94
Have run the Firefox Profiler on the stackblitz I provided. In the Stackblitz I intended to reproduce the CPU Overhead Issue with the CPUdatasource and the #96 with the AdapterDatasource.
(You are right however that I didnt use the adapter.append etc. correctly)

The CPUDatasource Beeing the first empty scroll viewport. If the the scrollbar doesnt appear then there is no issue, but if the padding

[2019-08-21 09:04] telion2 commented on #94
It could be easily resolved by the user if the user removes the I think top-bot padding for vertical scrolling.

[2019-08-21 10:37] dhilt opened #98 "Empty datasource with scrollable viewport causes infinite loop on PreFetch process"
If there are no items in the Buffer, `buffer.getSizeByIndex`  method returns NaN. This breaks further calculations within PreFetch process:

[code]

So `break` never happens and the loop continues.

________

The source: issue #94.

[2019-08-21 10:41] dhilt commented on #94
@telion2 The repro is not obvious, but now I see it. Your last detalization was very helpful. In short. The scrollbar you forced to appear by padding allows a user to scroll a bit. Firing a scroll event runs the UIScroll workflow, which hangs during PreFetch process. This hanging is nothing but infinite loop, it's not a background process. I described it in a separate issue https://github.com/dhil

[2019-08-21 13:09] StriderRanger commented on #93
That's great! I will apply the `Adapter.clip()` method once it is available and its development is complete. It will surely help.
Thanks :)

[2019-08-22 01:15] dhilt commented on #93
@StriderRanger Big part of the work is done, there are some todos in PR #97, but 80% of required logic is implemented. It would be great if you could try it locally and give some feedback. You need to
 - clone the repo
 - checkout "user-clip" branch
 - build the distributive via `npm run build`
 - place the distributive into the "node_modules" folder (replace version from the npm)

The usage is ju

[2019-08-23 12:07] StriderRanger commented on #93
I cloned the repo and then checked out the "user-clip" branch, but by running `npm run build` (after `npm install`) I have this error:

[2019-08-23 13:47] dhilt commented on #93
@StriderRanger You do it on Win, don't you? let me think, how to update the build process to fix it...

[2019-08-23 15:28] dhilt opened #99 "Build on Windows"
Currently `npm run build` produces following error on Windows OS:

[code]

The issue came from https://github.com/dhilt/ngx-ui-scroll/issues/93.

[2019-08-23 15:28] dhilt commented on #93
Created bug https://github.com/dhilt/ngx-ui-scroll/issues/99

[2019-08-23 16:53] #99 closed, assigned to dyuv-dev

[2019-08-23 16:56] dhilt commented on #93
@StriderRanger The build script had been fixed, it should work now on Win OS. Also, the development of `Adapter.clip` feature is 95 per cent done.

[2019-08-23 19:18] StriderRanger commented on #93
@dhilt Yes I am on windows, thanks for the fix!
It's good to know that the `Adapter.clip` is almost complete. I will update and launch a new build, and let you know of the results of my tests.

[2019-08-23 22:42] StriderRanger commented on #93
The `Adapter.clip()` method did work. Here is the procedure that I followed:
Trying first to subscribe to the `Adapter.isLoading$` in the constructor, and then call the clip inside the subscription didn't work: The list is clipped at the first load and there was no scroll available.
What I did instead is calling the `Adapter.clip()` before the prepend: The idea was to clip the list from the ancien

[2019-08-24 01:21] dhilt commented on #93
@StriderRanger My vision of the isLoading-deferred method call is following:
[code]
This is one-time self-destructing subscription allowing to run necessary piece of logic (cb) right after the uiScroll Workflow stops.

I published the "@next" version of ngx-ui-scroll to npm and updated your demo:
https://stackblitz.com/edit/ngx-ui-scroll-prepend-1-1-1-experimental. For me it works properly.

[2019-08-24 14:39] StriderRanger commented on #93
@dhilt I understand more clearly now how the `adapter.isLoading$` subscription should be used. The one-time self-destructing subscription is a nice and clean solution, and it made the scroll-top go as expected.
I appreciate your support and your prompt action! Thank you :)

[2019-08-24 17:07] dhilt commented on #93
v1.1.1 ("Adapter clip") has been released
Thanks for the issue!

[2019-08-24 17:07] #93 closed, assigned to nobody

[2019-08-27 12:45] #98 closed, assigned to dhilt

[2019-08-27 12:45] #96 closed, assigned to nobody

[2019-08-27 12:50] dhilt commented on #94
@telion2 ngx-ui-scroll v1.2.0 [has been released](https://github.com/dhilt/ngx-ui-scroll/releases/tag/v1.2.0), it is available via npm. It contains fixes for problems discussing here. If you have another problems/questions, please feel free to open new issues.

[2019-08-27 12:50] #94 closed, assigned to nobody

[2019-08-27 13:15] telion2 commented on #94
Props. I've checked it out aswell and it works. Now high Cpu usage and no Error in the console.
For anyone who cares: https://stackblitz.com/edit/angular-xisrxn
(It's no real test, I just fixed my repro with the new version of uiScroll)

[2019-08-27 13:41] telion2 opened #104 "Css missing height property or using %-values for the height causes High CPU"
Similar to #98

Its more a ease of Use thing.
Basically if you dont limit the area where the scroller can be displayed using css for example, uiScroll will try to render everything.
Consider:
[code]
I generally don't think of it as a major issue, but I want to warn the people that this can happen.
I think is more a missuse of this package, however new users are likly to fall in this pitfall.

Btw.

[2019-08-27 13:42] telion2 commented on #104
I think it updating the docs with a warning about the height requirements could be enough.

[2019-11-11 23:03] brandom commented on #40
@dhilt Any update on this? I would like to use this on the material expansion panel but the div wrapper is messing up the styles.

[2019-11-12 21:35] dhilt commented on #40
Sorry guys! Not so much time I have for now. Table templating is definitely possible, but it's implementation is not obvious. I had some progress but I stubbed with one extra tag issue and have no time to dig into it by myself. So today I posted question on SO which might help. If no one answer in 2 days, I'm going to draw attention by placing a bounty on it. Would be great if you could help me to

[2019-12-02 21:49] StriderRanger opened #105 "Using ngx-ui-scroll for pagination in an Ionic 4 app is not working properly"
Hello,

I am using ngx-ui-scroll to paginate a list of items following this logic:
- The new data of each page is appended to the end of the dataset, based on a subscription to the `lastVisible$` observable of the adapter.
- Each page contains a number of items that is calculated proportionally to the height of the screen devised by the average height of each item of the list.
- When calculating t

[2019-12-04 00:28] dhilt commented on #105
@StriderRanger  First, I see that Angular versions and ngx-ui-scroll are different in your 2 demos. Generally they need to be fixed... After I raised ngx-ui-scroll version up to the latest (1.2.0) in your first working demo, it became broken. Also, downgrading ngx-ui-scroll version to 1.1.2-rc.2  in you second not working demo makes it work.

So I think it's a matter of last package version, and I

[2019-12-04 18:16] StriderRanger commented on #105
Thank you for your reply and for clarifying the difference between the 2 packages :)
I hope too that it will be easy, and while waiting for an official ui-scroll fix, I made [this warkaround](https://stackblitz.com/edit/ngx-ui-scroll-ionic4-pagination-warkaround):

I noticed that each time I couldn't scroll downward the `forward-padding-height`  has a `0` value. So I thought about changing the pad

[2019-12-05 13:51] mariah123 opened #106 "How to Scroll down as we append new record to data source??"
I have implemented ngx-ui-scroll in my chat project and it fulfills all of my requirements. However, I want it to scroll-down as I append a new record to data source. How to do that ???

[2019-12-05 21:30] dhilt commented on #106
@mariah123 Hey, I just created demo for your situation -- https://stackblitz.com/edit/angular-ngx-ui-scroll-1-2-0-append-autoscroll

The thing is we need to scroll to the viewport' bottom after new item is appended:

[code]
Since append is asynchronous process, we use `isLoading$` prop to provide scrolling only when the UiScroll stops.

[2019-12-06 06:09] mariah123 commented on #106
Thanks for providing the solution

[2019-12-06 06:09] #106 closed, assigned to nobody

[2019-12-11 20:02] StriderRanger opened #107 "Appending new items to an empty list creates a wrong data-sid"
When appending new items to an empty list, I noticed some unwanted behavior:
- There is an empty space at the top of the list, represented by a `data-padding-backward` div with a height equals to the average height of an item in the list.
- the first item in the list has a `data-sid` equals to `2` instead of `1 `
- When scrolling backward the first item is duplicated

I think that the main problem

[2019-12-12 00:21] dhilt commented on #105
@StriderRanger Finally I found the answer. The thing is you implemented your Datasource in a way it can't ensure synchronous data flow consistency. You set up only 5 items initially and then append more items by some process which is asynchronous and not synced with `Datasource.get` method implementation. But when the uiScroll receives some item list from your Datasource and its length is less tha

[2019-12-12 02:31] dhilt commented on #107
@StriderRanger Thanks again! This is definitely a bug. When UIScroll tries to append item(s) to empty buffer, he assumes that the `startIndex` had been used and assigns `startIndex + 1` as the first appending item index value... This particular method is responsible for the issue:

https://github.com/dhilt/ngx-ui-scroll/blob/b1c90ac4914fbbbf00e91f0f94f55d852d9e03f4/src/component/classes/buffer.ts#

[2019-12-12 23:13] StriderRanger commented on #105
Thank you for your insightful answer! So the problem was basically the asynchronous relationship between retrieving the data and how `Datasource.get` handles this data.

The main asynchronous treatment in my solution is the subscription to the `lastVisible$` observable, that is used to detect and trigger the call to the next page. There was no obvious way to sync this treatment with the `Datasourc

[2019-12-12 23:19] StriderRanger commented on #107
Thanks! I will test the fix once it's available.

[2019-12-13 21:08] dhilt commented on #107
@StriderRanger Hey! I just published v1.2.1 as "next" release, could you please try it ?

[code]

[2019-12-15 00:09] StriderRanger commented on #107
Thank you for the update! I tested v1.2.1 on my stackblitz [example](https://stackblitz.com/edit/ngx-ui-scroll-append-index-prblm) and it worked fine, but in my local app I have always the same old behavior. I am not sure about the cause but perhaps it is due to the asynchronous way of processing the data.
I created [this example](https://stackblitz.com/edit/ngx-ui-scroll-ionic4-pagination-append-

[2019-12-15 00:59] dhilt opened #109 "Render optimization"
### Render optimization (try)

1. GPU vs CPU
2. opacity + pointer-events: none VS left: -99999
3. z-index?
4. position fixed VS absolute

[2019-12-15 01:06] dhilt commented on #109
4 layers
<img width="1276" alt="Screenshot 2019-12-15 at 04 04 30" src="https://user-images.githubusercontent.com/4365660/70856563-17e3a280-1ef0-11ea-94a2-2090df91dabe.png">

4 layers + layer per row
<img width="1275" alt="Screenshot 2019-12-15 at 04 04 52" src="https://user-images.githubusercontent.com/4365660/70856564-17e3a280-1ef0-11ea-9bfa-de2d21c14193.png">

[2019-12-15 20:42] dhilt commented on #107
@StriderRanger Yes... I missed eof/bof parameter case... In your last sample you call `append` with `eof = true`. I fixed it and released v1.2.2

Also, I would agree with you that datasource-append interaction is not clear in your sample. You requests 4 items on start via `Datasource`, returns empty result and then appends 7 items via `Adapter`. As I spoke before, I'd prefer to have all the logic

[2019-12-15 22:22] StriderRanger commented on #107
I tested the change in my environment and also in my stackblitz [example](https://stackblitz.com/edit/ngx-ui-scroll-ionic4-pagination-append-index-fix) and the `data-sid` was correct in both environments.

As you mentioned, In [#105](https://github.com/dhilt/ngx-ui-scroll/issues/105)'s [example](https://stackblitz.com/edit/ngx-ui-scroll-ionic4-pagination-workaround3) I changed all this pagination

[2019-12-15 22:29] #107 closed, assigned to nobody

[2019-12-15 22:29] #105 closed, assigned to nobody

[2019-12-16 03:15] dhilt commented on #104
README update:

[2019-12-16 03:15] #104 closed, assigned to nobody

[2019-12-17 06:18] mariah123 opened #110 "Fetching new data when BOF is reached"
I am trying to fetch new data and prepend it when bof reached scrolling up. But unable to resolve where to put this check actually.

[2019-12-17 13:43] dhilt commented on #110
@mariah123 First, you may prepend new items in some other way than by user's demand (say, scrolling up to the topmost border). For example, there could be a process telling you that you have some new items that are not in the initial datasource (speaking of chat it might be socket-notification from server). Then you just call `Adapter.prepend(newItems, true)` and don't care about scroll position a

[2019-12-23 16:56] StriderRanger opened #111 "Extra forward padding"
Sometimes, when there is too few data to fill all the view port, the `height` of the `data-padding-forward` div takes a value bigger than needed, which adds an unnecessary scroll to the list.
This happens randomly, and not much often, that I can't know what is the exact cause or reproduce the problem and share it here.
Any idea of what could possibly cause the height of the `data-padding-forward`

[2019-12-23 20:44] dhilt commented on #111
@StriderRanger Is it correct that to reproduce the issue I need to reload the viewport with just few rows datasource and I need do it for some time because it is not guaranteed that the issue will be reproduced on the first try?

[2019-12-23 21:03] StriderRanger commented on #111
Yes this is the case for me. I tried with [this simple example](https://stackblitz.com/edit/angular-ngx-ui-scroll-initial-height) but even after reloading the result page many times, the extra padding didn't happen.
Please let me know if you need to know any information that may help to investigate further.

[2019-12-23 21:38] StriderRanger commented on #111
I succeeded on reproducing the problem. In [this example](https://stackblitz.com/edit/angular-ngx-ui-scroll-extra-padding) the extra padding height happens all the time

[2019-12-24 02:40] dhilt commented on #111
@StriderRanger I investigated your demo and it looks ok for me. The thing is `startIndex` determines first visible item in the viewport. You set `startIndex`  = 1 and it means you'll see "item #&#x2060;1" from above after init/reload. Scroller adjusts paddings to make "item #&#x2060;1" topmost visible. So this behaviour is by design. Does it answer you question or there are some other use cases re

[2019-12-24 14:45] StriderRanger commented on #111
Yes I see that the padding is adjusted when the startIndex changes. What happens in my environment is a bit different than that. I'll try to change the example to be more similar to the use case that I have, and I'll keep this post updated.
Thank you very much for your time!

[2019-12-25 01:06] StriderRanger commented on #111
I have just updated [the example](https://stackblitz.com/edit/angular-ngx-ui-scroll-extra-padding) with a logic similar to what I am using to preload/load the data in the uiScroll, but still the error is not reproduced.
An example that is not reproducing the problem is not very helpful, but I just need to know if you may suspect something susceptible to cause the height of the forward padding to b

[2019-12-25 03:05] dhilt commented on #111
@StriderRanger There are some points where forward padding could be updated:

1) Append adapter process, [link](https://github.com/dhilt/ngx-ui-scroll/blob/v1.2.2/src/component/processes/append.ts#L50)
2) Clip common workflow process, [link](https://github.com/dhilt/ngx-ui-scroll/blob/v1.2.2/src/component/processes/clip.ts#L32)
3) Adjust common workflow process, [link1](https://github.com/dhilt/ng

[2020-01-01 23:21] StriderRanger commented on #111
Thank you again for your detailed explanation and your constant support :)
When reading the uiScroll logs, I noticed that when the extra padding happens in my environment, it is always due to the miscalculation of the average item size:
- I tested with a list that has 2 items with respectively a height of 79.4px and 87px (including a padding-top of 12px and padding-bottom of 4px)
- The average ite

[2020-01-02 03:39] dhilt commented on #111
@StriderRanger Your last demo revealed the issue at last. This is important case when random row in the viewport might asynchronously change its height after rendering. And for this particular situation Adapter API has `check` method, which (per doc)

[Here is the updated demo](https://stackblitz.com/edit/angular-ngx-ui-scroll-extra-padding-async-check). I just propagates `onResize` event from `It

[2020-01-03 00:33] StriderRanger commented on #111
Thanks for the demo, the problem is "almost" solved: it still happens but far less frequently than usual.

When the problem happens, the average size that is logged in the Check process preserves its previous wrong value, and the Render and Adjust processes are not fired.

From what I noticed, the `check` method performs its job of recalculating the average items size and forward padding correctly

[2020-01-03 03:25] dhilt commented on #111
@StriderRanger You are right, the time of the `Adapter.check` method call should be chosen properly, DOM element must get its final dimensions before the call. That's why I used `setTimeout` in the demo, to let the browser to apply size changes. The real life use cases should be considered carefully/individually, but anyway it is a developer responsibility to guarantee right sequence of events: in

[2020-01-03 14:19] boskras opened #112 "Error while trying to invoke reload() method"
Hi,
I'm using uiScroll with ngrx. Via NGRX I'm sending the new position that I would like to render the list with reload() method. But I'm getting this strange error - I've tried to find some workaround but unfortunately, I failed.
Maybe some of you can help me?

[code]

My invoke:
`this.datasource.adapter.reload(vsSettings.reloadIndex);`

[2020-01-05 18:33] dhilt commented on #112
Thanks @boskras! This is very interesting issue and right now I have no idea how it could happen. `'tagName' of undefined` means some DOM element was not found after render. To prove it, may I ask you to look at dev log (`settings.debug` must be true, see [doc](https://github.com/dhilt/ngx-ui-scroll/tree/v1.2.2#development))? You should get following error in the console:

Then, we'll need to debu

[2020-01-07 07:52] boskras commented on #112
I think that I've tracked this problem.
In my implementation I'm using `ngx-ui-scroll` with more complex components, sometimes they have a lot of data to analyze or render inside them, that's why they sometimes take a little bit more time to render/init than expected.

When this complex component with a large amount of data takes too much time during rendering, 'the lib' try to scroll into this co

[2020-01-07 11:30] boskras commented on #112
Ok, I found the solution. My previous guesses were false. It turned out that `reload()` function had to be wrapped with `setTimeout()`
[code]

[2020-01-08 05:59] dhilt commented on #112
@boskras Despite I'm glad to know you have found a workaround, I really don't like `setTimeout` there... Could you please turn debug logging on and run both variants (broken and fixed, with and without `setTimeout`) sequentially, save console logs and send them to me? (attaching the log files to the reply would work) There are two areas of where the problem might be: the app architecture specifici

[2020-01-09 12:16] boskras commented on #112
Ok so here are the logs.

[cannot-read-property_tagName_with-setTimeout_1578571905423.log](https://github.com/dhilt/ngx-ui-scroll/files/4040297/cannot-read-property_tagName_with-setTimeout_1578571905423.log)
[cannot-read-property_tagName_1578571905423.log](https://github.com/dhilt/ngx-ui-scroll/files/4040298/cannot-read-property_tagName_1578571905423.log)

[2020-01-09 12:31] boskras opened #113 "Problem with 'first' element on scroll area"
Hi,
I've noticed weird behaviour while detecting the first element on ViewPort.

In my app I've got top-bar header which height is **60px**.
Sometimes when I use `reload(_someIndex_)` the first element is not correctly recognized, because previous item bottom boundary is at **60.XXXXXXX px** so literally it's pointing correctly that the first item is the previous one, but I think that it would be

[2020-01-09 14:20] DaveLomber commented on #110
A super cool feature would be observable eof$ / bof$, which will solve the issue in the most elegant way :)

[2020-01-09 15:57] DaveLomber opened #114 "Adapter append/prepend breaks virtualization when eof/bof reached"
Hi there

we are building chat view

we have an array `this.messages` with a list of messages sorted by date sent.

Let's say we have 100 messages loaded.

Here is our code of data source implementation:

    datasource: Datasource;
    MIN_DATASOURCE_ITEMS_INDEX = 1;
    DATA_SOURCE_BUFFER_SIZE = 10;

    initDataSourceIfNull() {

     if (this.datasource) {
       return;
     }

     const star

[2020-01-09 16:02] DaveLomber commented on #114
btw I can see same effect here in the example

https://dhilt.github.io/ngx-ui-scroll/#/adapter#append-prepend-sync

If I prepend 100, then DOM elements count becomes 115

[2020-01-09 16:10] DaveLomber commented on #114
can be easily reproduced here https://stackblitz.com/edit/angular-ngx-ui-scroll-1-2-2-auto-prepend-when-bof

just replace `{{datasource.adapter.version}}` with `{{datasource.adapter.itemsCount}}` and scroll to top

[2020-01-09 20:04] dhilt commented on #112
@boskras  Yep, it's definitely the lib issue. Async reload should properly intercept the ui-scroll workflow if any processes are running (like render), and looks like we didn't cover all cases. In you case (without timer) the reload is being fired right after the render process had been started. And this is what the log reveals: reload process resets the viewport and cleans up the data state, and

[2020-01-09 20:13] dhilt commented on #112
@boskras The better workaround would be to replace `setTimeout` with `loopPending` subscription. What is `loopPending` you may read [here](https://dhilt.github.io/ngx-ui-scroll/#/adapter#is-loading-advanced). But in two words it would allow you to wait until current fetch-render procedure is resolved:

[code]

[2020-01-10 06:05] dhilt commented on #114
@DaveLomber `Adapter.prepend(items, true)` will virtualize items only if real begin-of-file is reached, when `Adapter.bof` is `true`. I believe `prepend` should be called with `true` second argument in your case. But it's not about the issue you want to avoid.

What if I suggest following solution

 - scroller is full, we are at the top, Adapter.bof is true
 - you retrieve new items from the remot

[2020-01-10 06:14] dhilt commented on #110
@DaveLomber Generally eof/bof case could be easily handled right inside the `Datasource.get` implementation. You pass index-count items array to the ui-scroll, you know if the result array' length is less than `count`, you know the borders and can run any custom process based on this knowledge.

But perhaps it's not a bad idea to arrange new Observables on the Adapter object... Let me think a bit!

[2020-01-10 06:29] dhilt commented on #113
@boskras Please correct me if I didn't catch the idea:

 - you have item N int the top and say 5% of item N-1 above
 - you do reload by topmost visible item index which is technically N-1
 - after reload you see 100% of item N - 1 (item N is just below)
 - but you'd like to have 100% of item N and throw away 5% of the previous one instead

And the point is the mechanism of the topmost visible item

[2020-01-10 08:25] DaveLomber commented on #110
Thanks

that's what I'm doing currently with `Datasource.get`.

With observable eof$ / bof$ it will be just more elegant and self-explanatory solution.

And let me please go a little bit deeper with this. In reality, when working on chat apps, where it needs to implement messages stream, it's not required to get a callback once a eof$ is reached, but it's required to get it a bit earlier, e.g. whe

[2020-01-10 08:31] DaveLomber commented on #114
that's what I was looking for, actually :)

If you could add this - it will be super cool.
And your solution looks good, same at my mind

[2020-01-10 11:15] boskras commented on #113
I don't know if I caught what you meant, so I'll write it as I have now :)

1. Settings of Datasource: bufferSize: 2, padding: 0.5
2. My page look: 60px header (topbar), below scrollig list.

Currently when `scroll-area` is reloaded then N-1 element (just above the ScrollViewPort - so not visible for the User) bottom prop value of `getBoundingClientRect()` is 60. In this scenario, everything is fi

[2020-01-10 13:02] DaveLomber commented on #114
As I understand,

if implement `Adapter.reset({ bof: false })`

we need to reset `buffer.absMinIndex` and `buffer.absMaxIndex` internally

[2020-01-10 15:27] dhilt commented on #110
@DaveLomber The threshold parameter you want is exactly the [padding setting](https://dhilt.github.io/ngx-ui-scroll/#/settings#padding). The doc speaks of `padding` that it

If you want trigger new rows fetching when you pass by 2/3 of the viewport outlet, then use `settings.padding` = 0.66. This way you may get bof triggered as early as needed.

[2020-01-10 16:06] DaveLomber opened #115 "Strange effect with inverted datasource"
Hi there

I have implemented inverted data source to work with chat messages:

    datasource: Datasource;
    MIN_DATASOURCE_ITEMS_INDEX = 1;

    this.datasource = new Datasource ({
      get: (index, count, success) => {
        const data = this.getAdpterData(index, count).reverse();
        success(data);
      },
      settings: {
        startIndex: -10,
      }
    });

    getAdpterData(_

[2020-01-10 17:00] DaveLomber commented on #115
Surprisingly it works well with Safari
but no in Chrome, Firefox

[2020-01-10 17:43] StriderRanger commented on #111
@dhilt Thanks for your proposition. I implemented the [resize-observer](https://github.com/juggle/resize-observer) lib, and it is working but with a slight additional forward-padding size (1px to 2px of difference). You can test the behavior in [this sample](https://stackblitz.com/edit/angular-ngx-ui-scroll-extra-padding-async-check-resizeobserver).

Upon running the `check` process this is what h

[2020-01-10 18:32] dhilt commented on #114
@DaveLomber So do you want to to tell the ui-scroll haw many items the datasource have just received? In that case, I think, we may implement new signature for append/prepend:

[code]

[code]

[code]

[code]

It will take care of all internal params including bof/eof, min/max indexes etc. I'm just thinking... if you have your own thoughts on the API changes, do not hesitate to put them here too.

[2020-01-10 18:44] dhilt commented on #113
@boskras Ok! is it correct that the dead zone you mentioned is alway less than 1px in your case? This way I would assume that it's a matter of fractional calculation somewhere inside the ui-scroll and it would be right idea to treat it as a Bug and fix it.

If no, and we really want to ignore, say, 5% of previous row (okay, up to 99%), then I'll put the Enhancement label to this issue and start th

[2020-01-10 19:16] dhilt commented on #111
@StriderRanger Thanks! I'll take a look for the demo you just posted, but first I'd like to put some thoughts

 - I don't like fractional size of the viewport and padding DOM elements (though fractional average item size is fine), this is something about different browsers support, for example see [this chromium bug](https://stackoverflow.com/questions/52470549/subpixel-scroll-issue-cant-set-scrol

[2020-01-10 19:29] lmreicks opened #116 "Scrolling up doesn't always render items"
## Scrolling up not working as expected

Scrolling down seems to work perfectly, but scrolling up will often not update the view leaving a huge whitespace. The whitespace doesn't go away until you scroll way past it.

In the gif, the true/false at the top is adapter.isLoading
![ui-scroll](https://user-images.githubusercontent.com/25748957/72180390-b60e3f80-33ac-11ea-98be-e25d39b4ec53.gif)

### My

[2020-01-10 19:35] dhilt commented on #115
@DaveLomber May I ask you to look at [this stackblitz demo](https://stackblitz.com/edit/angular-ngx-ui-scroll-1-2-2-inverted-datasource), where I reproduced your logic? Seems it works properly (on Mac Chrome). Could you please fork it and update styles and whatever else, so that the issue becomes apparent?

[2020-01-10 19:50] dhilt commented on #116
@lmreicks Thanks for the issue! Looks like it freezes randomly and don't run until something makes it work again. I need to investigate the reasons and your code sample is not enough (it looks ok for me). The best option would be to build a standalone shareable repro, and you may fork [this stackblitz](https://stackblitz.com/edit/angular-ngx-ui-scroll-1-2-2-inverted-datasource) and shift your samp

[2020-01-10 20:23] DaveLomber commented on #114
@dhilt thanks for all the proposed solutions

I just had some tome thinking about it

I prefer do not introduce new API, but instead do some internal changes

e.g. let's say we prepend 100 items

[code]

and internally to do the following:

- prepend `settings.bufferSize` items only if bof
- virtualize the rest
- reset internal `datasource.adapter.bof` -> false, so the further scroll will be initi

[2020-01-10 20:38] lmreicks commented on #116
@dhilt  I think I figured out the issue. I needed to specify the minIndex to be 0. I was trying to hack around the indexing at 1. I think the default for minIndex and startIndex should be 0, almost every sort of array is indexed at 0, not 1. There should also be a better comment explaining what these variables do.

Otherwise, great library!! Very easy to set up and it looks awesome! Great work!

[2020-01-10 22:25] dhilt commented on #114
Ok, putting this into the queue...

[2020-01-10 22:32] dhilt commented on #116
👍 good to know you have fixed your issue, please feel free to submit new ones!

[2020-01-10 22:32] #116 closed, assigned to nobody

[2020-01-11 15:37] DaveLomber commented on #115
I can confirm with your example it works well

but in my app I have this effect. I tried to get the root cause but still no luck..

[2020-01-13 15:36] lmreicks opened #118 "Testing issue: 'Cannot read property 'unsubscribe' of undefined' in Workflow finalize"
I'm trying to test a component using uiScroll and I'm getting this error for all of the tests. Error is on line 306 of workflow.ts. Any ideas on how to fix it? Also, any general tips on testing?

I'm using jest (24.8.0) and my set up (roughly):

**Component**
[code]
**Template**
[code]

[2020-01-13 20:37] dhilt commented on #118
@lmreicks
Basically, I don't see any problems in your code sample, I believe the this is infrastructure issue and something is wrong with initialization-disposing processes timing.  `Cannot read property 'unsubscribe' of undefined` on the Workflow dispose

https://github.com/dhilt/ngx-ui-scroll/blob/b54e390a82b652dd25d9f49d17c7646be5a7c49b/src/component/workflow.ts#L306

might mean only one thing:

[2020-01-13 22:16] dhilt commented on #114
@DaveLomber I'm going to work on some big changes, so I decided to make an interim release containing the updates that might help you to solve your issue. It's a kind of manual handling of stuff but it might make a life better, also the implementation was cheap enough... The approach is described it PR https://github.com/dhilt/ngx-ui-scroll/pull/119 (especially the last sample, "Prepeding and virt

[2020-01-14 10:15] boskras commented on #113
Sorry for the delay. Now there is no dead-zone at all because even if component appears in ScrollViewPort at a fractional part of the pixel then it's treated like it was first. My proposition is to add this possibility to define that component must at least be visible to the user with a defined amount of pixels.

Currently, I've implemented my own method to detect the element if it appears at leas

[2020-01-14 10:33] DaveLomber commented on #114
@dhilt  thank you so much for your effort!

I will check and let you know

[2020-01-14 17:20] dhilt commented on #113
@boskras Great to hear the issue was overcome! I'd like to have a look at what you've done if it's possible... is it the App fix or did you fork the lib and update it? This also might be useful for future users I guess.

[2020-01-15 04:55] dhilt commented on #73
Adapter.check method is available since v1.1.0 ([demo](https://dhilt.github.io/ngx-ui-scroll/#/adapter#check-size)).

[2020-01-15 04:55] #73 closed, assigned to nobody

[2020-01-15 07:00] dhilt commented on #111
@StriderRanger Let's discuss this screenshot for we may get how this works:

<img width="736" alt="Screenshot 2020-01-15 at 09 18 53" src="https://user-images.githubusercontent.com/4365660/72409910-1e2b9f80-3778-11ea-8bce-415659e7b39e.png">

Average item size in this particular case is not involved in padding size calculation because we have only 4 items which exist in the viewport, so the DOM dim

[2020-01-15 13:53] StriderRanger commented on #111
@dhilt Thanks! That clarifies the reason of this behavior, which is related to the scaling of the browser that is used for testing. It also corrects the padding formula that I speculated, as I didn't know that the average size is used only for virtualized rows.

So to sum up the cause of the extra padding space was the asynchronous process of filling the items, and to amend it the [resize-observer

[2020-01-15 14:47] dhilt commented on #111
A good job we've done, I guess.
Thanks!

[2020-01-15 14:47] #111 closed, assigned to nobody

[2020-01-16 16:46] lmreicks opened #120 "adapter.reload doesn't update the view"
Because I have data that changes based on filters, I'm using adapter.reload() to reload the view when filters change. Sometimes, the reload doesn't actually reload the view. I'm not sure if this is a bug, or if there is a better way to accomplish what I'm trying to do.

I forked the repo and I've been trying to track some of this stuff down and it looks like it doesn't detect changes unless 'doCli

[2020-01-16 16:46] #118 closed, assigned to nobody

[2020-01-16 16:51] lmreicks commented on #43
@dabcat I think your issue is the same as I was having. The 'index' is 1 indexed as apposed to 0 indexed. Try changing minIndex to 0.

[2020-01-16 17:55] dhilt commented on #120
@lmreicks Thanks again! If you forked the repo, may I ask you to look at PR https://github.com/dhilt/ngx-ui-scroll/pull/117 branch (bug-112_error-while-trying-to-invoke-reload-method) and try it in your environment? That PR massively improves the reload process implementation. And it is going to be released soon, so another look could be very useful (and it might solve your issue).

Having `OnPush

[2020-01-16 20:48] YoungCatChen commented on #64
Not sure if it's related, but I noticed that https://dhilt.github.io/ngx-ui-scroll/#/window has issue on **desktop** Chrome browser (ver. 79.0.3945.130) on my MacBook Pro. To reproduce, scroll down to around `Item #100` and then scroll up slowly. You will notice the items jumping up and down.

Let me know if you would like to see a screen recording or anything.

[2020-01-17 13:48] DaveLomber commented on #114
There is one issue with
`this.datasource.adapter.fix({ minIndex: -Infinity})` - it produces an error with warning_1  `it must be an integer`

[2020-01-17 13:53] DaveLomber commented on #114
seems an issue with this code:

[code]

I did a quick test and

`Number(-Infinity)` -> `-Infinity`
`parseInt(Number(-Infinity), 10)` -> `NAN`

so `-Infinity` !== `NAN`

[2020-01-17 13:56] DaveLomber commented on #114
If we remove this validation then seems it works pretty good
Can we please fix this?

[2020-01-17 14:57] soulfly opened #121 "A proper way of update/re-render single item (using redux)"
We are building a chat app using ngx-ui-scroll

Seems we have an issue with understanding of how to properly do one thing

Let's say we have data source with 50 messages

Now a user sends 2 new messages, so we call `adapter.append` to show them, all is good

Then we have messages states, so by default the state is `sent` and a user can receive a `delivered` state signal per each message.

So once

[2020-01-17 19:50] dhilt commented on #114
@DaveLomber I'm so happy you have taken a look at this... That's the reason of why we need to cover ALL the functionality with tests, even if it's related to undocumented/temporary solutions. I made some refactoring and forced myself to add a spec for the Fix process input params: https://github.com/dhilt/ngx-ui-scroll/pull/122. I didn't remove validation, but I took special care of the Infinite c

[2020-01-18 00:57] dhilt commented on #121
@soulfly Thanks for the interesting issue! Using redux means the item data (as a part of the app state) would become a new object during an _update_ you want the ui-scroll to take into the account. And here's a problem, because the ui-scroll does not have a mechanism of synchronisation the items he already got and rendered except by an object reference. I mean if your _update_ would have not intro

[2020-01-19 01:02] StriderRanger commented on #112
@dhilt I have another case that reproduces the same `Cannot read property 'tagName' of undefined` error.
In [this sample](https://stackblitz.com/edit/angular-ngx-ui-scroll-append-tagname-err), I want to append a new item to the dataset, and the error occurs while calling the `Adapter.append()` method. I tried to use the `loopPending$` observer but the append didn't work at all.

**Edit:** I think

[2020-01-19 04:37] dhilt opened #123 "Adapter.check() does not clean up the state properly"
Came from https://github.com/dhilt/ngx-ui-scroll/issues/112#issuecomment-575954135.

During the Check process `state.fetch.isReplace` becomes `true` and the value (sometimes) don't reset when the process is done. This breaks further fetch-render chains handling:

https://github.com/dhilt/ngx-ui-scroll/blob/b54e390a82b652dd25d9f49d17c7646be5a7c49b/src/component/processes/render.ts#L33-L39

New fetc

[2020-01-19 04:47] dhilt commented on #112
@StriderRanger Having the repro on stackblitz I was able to catch the issue in 15 minutes, that's really helpful! Of course, we see `'tagName' of undefined` error, but the main problem arises from these 3 lines of dev log (the last Workflow cycle, related to Adapter.append call):

You see, nothing's changed after render, the scroller didn't get new item. And the previous Adapter.check call is resp

[2020-01-20 04:53] dhilt commented on #123
@StriderRanger v1.2.5 is published, it fixes your last issue

[2020-01-20 04:53] #123 closed, assigned to nobody

[2020-01-20 05:08] StriderRanger commented on #123
@dhilt As always, thank you for your constant support :) I will install v1.2.5 and confirm that it works in my environment.

**Edit:** v1.2.5 is installed and works well

[2020-01-20 08:34] DaveLomber commented on #114
@dhilt  thank you for your support
it works pretty good now!
I think we can close the issue for now

[2020-01-20 12:20] soulfly commented on #121
@dhilt thank you for the detailed explanation

I think I got the idea.. let me try to implement it and see

[2020-01-20 12:26] soulfly commented on #121
The only one thing I do not like is this for loop cycle

[code]

In a case I have 100 messages, even a single message updated in redux will produce a 100 cycles each time

[2020-01-20 13:06] soulfly commented on #121
@dhilt anyway I think there should be more integrated API with redux, as Redux is pretty standard approach these days in web apps

[2020-01-20 14:08] dhilt commented on #114
Ok I'll close it for now, but also I keep in mind the idea of improving append/prepend behaviour. BOF case should be handled in more clear way for users, but I think further efforts should be taken under the aegis of a new issue.

[2020-01-20 14:08] #114 closed, assigned to nobody

[2020-01-20 14:53] soulfly commented on #121
@dhilt  there is actually an issue with keeping data as non changable

We have a 'MessageComponent' for each message display and we are passing a message as an input

[code]

and if now to keeping a data as non changable then it does not fire a 'ngOnChanges' callback as the message bounded to component did not change

There is a workaround for it - to pass all the messages fields that can be chang

[2020-01-21 15:33] DaveLomber commented on #115
@dhilt  this is indeed something with underlaying buffered items

I spent almost the whole day trying to debug the lib

And in the end I can make a demo https://stackblitz.com/edit/angular-ngx-ui-scroll-1-2-2-inverted-datasource to have this issue

we just need to comment a style of a viewport:` /* overflow-anchor: none; */` and then the issue started to pop up

please see a demo of repro steps ht

[2020-01-22 12:05] dhilt commented on #115
@DaveLomber Well, it was some time ago -- https://github.com/angular-ui/ui-scroll/issues/138#issuecomment-278989966 -- I decided to switch this behaviour off for the purpose of compatibility through all the browsers. As you can get from [MDN](https://developer.mozilla.org/en-US/docs/Web/CSS/overflow-anchor/Guide_to_scroll_anchoring):

...but not in the virtual scrolling case if we are going to sup

[2020-01-22 12:09] DaveLomber commented on #115
Thanks @dhilt for the explanation

for now the issue is resolved and I'm happy :)

The only one suggestion I have - to give this style more attention in README,
because when integrate the lib into ready Angular big apps - it could produce an issue like this

[2020-01-22 15:52] soulfly commented on #121
@dhilt  ok I think your suggestion works well, thank you for the advice 👍

Anyway, I would like to raise another case with Redux, which is a bit tricky to handle and would like to ask for your opinion

So let's say we have same subscription:

[code]

And now, we have mainly 2 operations which cause this subscription to fire:

1) send/receive messages, where we need to append 1 message (or sometime

[2020-01-22 21:26] dhilt commented on #121
@soulfly Well, the structure of your repo subscription source forces to have such a complicated handler logic, but the logic itself does make sense. Regarding to prepend + virtualizing, you may take a look to PR https://github.com/dhilt/ngx-ui-scroll/pull/119 which provides some functionality that might be helpful (see  "Prepeding and virtualizing" section).

Also, what if the `Adapter.fix(options

[2020-01-23 09:14] soulfly commented on #121
@dhilt This probably will make a life easier for a bit,
but
the main issue here is that I do not know what is `updatedItem`, as what we just receive is an updated `messages` array

====

I just had some time of thinking about it and came up with an idea to calculate the diffs:

[code]

so this will allow to easily call appropriate ngx-ui-scroll methods and then your proposal with `updater` does ma

[2020-01-23 11:45] soulfly opened #125 "Content alignment in case of lack of items"
Hi there

we are building a chat app and now face one issue with content alignment when we have only couple messages to display

This is a demo of the issue, by default all items are aligned to top, but in chat apps it should be aligned to bottom

![Screen Shot 2020-01-23 at 1 43 34 PM](https://user-images.githubusercontent.com/373137/72981858-77ce4280-3de6-11ea-8ca5-392408653fb8.png)

I tried to

[2020-01-23 13:39] DaveLomber opened #126 "Adapter.reload fails if pass null instead of undefined"
Hi there

I just realized if call `Adapter.reload(undefined)` then it works, but if call `Adapter.reload(null)` then it fails

After src code checking I found the following:

[code]

My suggestion is to replace it to :

[code]

So it will work with null as well

[2020-01-23 15:24] dhilt commented on #126
@DaveLomber  The signature of the `Adapter.reload` method is fixed in the Readme

<img width="317" alt="Screenshot 2020-01-23 at 18 16 04" src="https://user-images.githubusercontent.com/4365660/72996850-70ba2b00-3e0c-11ea-9aa0-b99f8be7d9ba.png">

So `null` can't be fine for `startIndex?: number`, you'll just get TypeScript error

The `typeof startIndex !== 'undefined'` check is added for ones who

[2020-01-23 15:28] dhilt commented on #121
Got it, will try to accomplish it soon.

[2020-01-23 15:41] dhilt commented on #125
@soulfly That's interesting! By default the scroller extends so-called forward padding element to fill out the visible part of the viewport if there are not enough items in the buffer. This method is responsible for paddings adjustment during initialization/reload:

https://github.com/dhilt/ngx-ui-scroll/blob/8538ad737408c0b36ea8fa3a1c64ce27cbd9586a/src/component/classes/paddings.ts#L42-L50

I bel

[2020-01-24 14:39] dhilt commented on #112
The case is done. No special actions are needed to avoid wrong behaviour since v1.3.0, the lib handles it internally. Please check v1.3.0 and open a new issue if any questions or concerns.

@boskras ^^

[2020-01-24 14:39] #112 closed, assigned to nobody

[2020-01-25 03:01] dhilt commented on #115
It is done

<img width="506" alt="Screenshot 2020-01-25 at 06 00 45" src="https://user-images.githubusercontent.com/4365660/73115524-0d2d1c00-3f38-11ea-91d2-cd56bf28a8c8.png">

[2020-01-25 03:01] #115 closed, assigned to nobody

[2020-01-27 09:01] soulfly commented on #125
@dhilt please let me know if there are any workarounds we can apply until a new release with the configurable will be pushed

[2020-01-27 10:16] dhilt commented on #121
@soulfly `Adapter.fix({ updater })` is done and released as **v1.3.1**. Usage notes can be found [here](https://github.com/dhilt/ngx-ui-scroll/pull/127). Please try it and feel free to raise new issues!

[2020-01-27 10:16] #121 closed, assigned to nobody

[2020-01-27 12:10] soulfly commented on #121
Thanks @dhilt,
did some quick tests and seems it works pretty well 👍

I have one small suggestion re performance

Once we found an element by id, it would be great to stop the internal cycle and hence save some    cpu, e.g.

[code]

what do you think?

[2020-01-27 12:25] dhilt commented on #125
@soulfly I'm afraid this can't be overcome without internal changes... Though maybe you may try to emulate top padding via row of dynamic height:
 - add "height" property to data items; if "height" is not set it should not have an impact on the template
 - say, scroller requests [1..10] items and `datasource.get` will return 2 items with "height" unset: [1..2]
 - wait for the scroller finishes its

[2020-01-27 14:44] DaveLomber commented on #125
I think we need to do something like this:

[code]

and internally do some swap like this:

    forwardPadding.size = bwdSize;
    backwardPadding.size = fwdSize;

[2020-01-28 08:22] DaveLomber opened #129 "Recycling scroll items"
Hi there

while reading the 'Motivation' section on doc I noticed the following explanation of how the lib deals with scroll items: 'It dynamically destroys elements as they become invisible and recreates them if they become visible again.'

I have a question - is it possible to recycle scroll items instead of destroy/recreate?
What I noticed is if have 'heavy' children components, then the comple

[2020-01-28 08:30] DaveLomber opened #130 "Is it safe to call 'append/prepend' while rendering process ?"
Hi there,
I would like to discuss one thing re this lib

What I mean by 'rendering process' is the following (probably there is a better term):
- let's say, based on our settings, we have 30 items always added to DOM.
- when we initialize a data source or call a 'reload' method - a ngx-ui-scroll lib starts to bufferize and renders the items, let's say it does it in 3 steps/calls of 'get' data: 0-9

[2020-01-28 14:01] dhilt commented on #130
@DaveLomber It's a good question, yes, these operations are not safe and should be run when the scroller relaxes. In v1.3.0 (released 5 days ago) the similar issue had been solved for the Reload process and now you may run `Adapter.reload` method at any time. But I'm not sure if it is possible for Append/Prepend processes because in that cases we need to deal with current Buffer and updates must b

[2020-01-28 14:22] DaveLomber commented on #130
either after datasource initialization OR after reload call

Aha this is good to know. Actually I read already this demo notes, but did not got an idea, but now its' clear. So I should try 'isLoading$' here.

Actually I use now 'loopPending$' so maybe it's a case and we can resolve the issue by switching to  'isLoading$';
But, one thing I want to highlight - the reason I switched to 'loopPending$'

[2020-01-28 22:15] dhilt commented on #129
@DaveLomber This could be possible in case we are dealing with items of fixed dimension and yes, it would work faster. I am not sure whether the increase will be significant, but anyway it will be completely different story and right now there is no way to provide such an optimization on the ngx-ui-scroll end. It's an architecture matter and the choosing was done a long time ago.

[2020-01-28 23:25] dhilt commented on #110
v1.3.2 had been released
It contains `Adapter.bof$` and `Adapter.eof$` properties. See [how to use it](https://dhilt.github.io/ngx-ui-scroll/#/adapter#bof-eof).

@mariah123  @DaveLomber

[2020-01-28 23:25] #110 closed, assigned to nobody

[2020-01-29 08:29] hungyiloo opened #131 "firstVisible/lastVisible getting stuck for certain dataset sizes"
I've reproduced the issue here: https://stackblitz.com/edit/angular-ngx-ui-scroll-1-3-0-jzc5hb

The key to getting this to happen seems to be capping the total record count to anything less than `2*bufferSize` and then attempting to scrolling down until EOF. In the stackblitz above, I've set `bufferSize` to 30 and stopped generating items before hitting a total of 55 items. If I set the boundary t

[2020-01-29 11:29] DaveLomber commented on #110
Thanks @dhilt !

just tried it

the only one thing I was required to add is an additional check, otherwise I was getting 2 load more requests

[code]

[2020-01-29 13:41] dhilt commented on #110
@DaveLomber You cam make it simpler:

[code]

[2020-01-29 14:01] DaveLomber commented on #130
I can confirm I sometimes have issues with isLoading$ - it just stuck

Here is my code

[code]

And I do not get a  `console.log("[doAdapterAppend]1", isLoading);` log until I will do some reload e.g. scroll messages or switch chat

Is there anything I could debug ?

[2020-01-29 14:03] dhilt commented on #131
@hungyiloo Thanks for the issue and demo! This is the lib's bug, I was able to reproduce it and catch the reason. In two words, first/lastVisible calculation occurs  in the end of each UiScroll Workflow cycle, the Workflow cycle is being run on user' scroll, but there is a check that blocks the Workflow continuing running if there are no more items to be fetched (when both BOF and EOF have been re

[2020-01-29 14:11] dhilt commented on #130
@DaveLomber The code seems correct. Could you please put it on [stackblitz](https://stackblitz.com/edit/angular-ngx-ui-scroll-1-3-0) for I can dive in it run-time? If it's not an option for you, you may instead attach dev-log to your next reply, it also may help, though it will take more time to investigate.

[2020-01-29 14:23] dhilt commented on #121
@soulfly Traversing through the inner Buffer seems pretty cheap operation, so I don't see how we'll get richer with this change. Are you going to run fix-updater procedure for many-many times synchronously?

But I would not resist if you open a PR ...

[2020-01-29 14:32] soulfly commented on #121
Not so many.. but

It's more about chat apps

E.g. I send a message
and then receive 'sent' then 'delivered' then 'read' status,
so for every single message I sent I need to run this updater to update a tick mark:
- pending -> sent
- sent -> delivered
- delivered -> read

[2020-01-29 14:35] DaveLomber commented on #130
just did some debugging

I would say  the 'isLoading' is locking to 'true' somewhere before my append
and then do not re-set its value to 'false' because of this check

[code]

[2020-01-29 14:53] DaveLomber commented on #130
@dhilt I guess I can conclude
at least partially

something happens probably after prepend or just after scroll

my prepend looks like this:

[code]

and here are some logs:

[code]

so by some reason, sometimes a lib do not re-set 'isLoading' value to 'false' because of this:

[code]

[2020-01-29 15:02] DaveLomber commented on #130
@dhilt maybe, if not resetting it here

[code]

then we need to reset it inside this timer ?

            state.scrollTimer = (/** @type {?} */ (setTimeout(function () {

                state.isLoading = false;

                state.scrollTimer = null;
                scroller.logger.log(function () { return "fire the timer (" + scroller.state.time + ")"; });
                workflowOptions.byTi

[2020-01-29 15:22] DaveLomber commented on #130
To be more precise it should be       `scroller.state.isLoading = false;` inside timer

I just did it and it resolves my issue

@dhilt  need your feedback here

[2020-01-29 16:13] 0xSeb opened #132 "TypeError: Cannot read property 'unsubscribe' of undefined in workflow.ts"
Hi there !

I found myself in case where

[code]
in _/src/component/workflow.ts_

Raised the exception :   `Cannot read property 'unsubscribe' of undefined.`

I looked at https://github.com/dhilt/ngx-ui-scroll/issues/118 but I'm not in a test case so I don't know if it's relevant to set the initDelay in the dev_settings ?

Thanks for your work ! :+1:

[2020-01-29 16:53] dhilt commented on #132
@OxSeb I need to have full scenario... Is it possible for you to create a repro? you may fork this [stackblitz sample](https://stackblitz.com/edit/angular-ngx-ui-scroll-1-3-0)

[2020-01-29 16:57] 0xSeb commented on #132
I'm sorry it's an "in production" really big app and I won't be able to make a full repro scenario, even for me to reproduce the end user issue ..
Woudn't it be easier to add a test around `this.workflowSubscription.unsubscribe();`
and `this.itemsSubscription.unsubscribe();` to make sure they're initialized before unsubscribing them?

Thanks for your fast answer btw !

[2020-01-29 17:06] dhilt commented on #132
@OxSeb Well, could you please [enable dev-log](https://github.com/dhilt/ngx-ui-scroll#development) and attach it to your next reply? It might help.

Also, it would be helpful if you describe how you use the lib in your app: how it looks in the code of the app component and the template.

[2020-01-29 17:09] DaveLomber commented on #129
Thanks for the feedback,
at least it's clear now it's by design :)

Anyway I'm trying to mitigate any potential lags
For now I came up with the idea to use

[code]

so with new elements it will lag only once per 20 items, instead of e.g. 4 times per 5 items.
From what I see it works a bit better with this setting

If you have any other recommendations on how to mitigate any potential lags when use

[2020-01-29 20:39] dhilt commented on #129
@DaveLomber  A good practice might be to give `bufferSize` a value corresponds to the viewport visible height. For instance, if the viewport height is 400px and the item heigh is (approximately) 40px, then having `bufferSize` = 10 the scroller should fill out the viewport in a single request. Also, `padding` setting should be taken into account. At last, `bufferSize` defines minimal number of requ

[2020-01-29 21:02] dhilt commented on #121
@soulfly The time needed for processing 1 status update is much less than the time needed for receiving this update due to async nature of receiving. You'll never get the difference with and without the optimization you suggested.

I'm still open for it but let it be a low priority. Also, what do you think on another syntax:

[code]

This way we consider the `updater` method as a predicate whose `

[2020-01-29 21:46] dhilt commented on #130
@DaveLomber Any practical suggestion should be approved by current test specifications. Your particular change breaks 37 of 204 tests. I agree, there might something not fine with resetting `isLoading` and `scrollTimer` null check at the `Workflow.end` point, but this is the only place where this flag is being dropped, so we need to deal with it very carefully. I'm sure it is possible to discover

[2020-01-30 06:19] hungyiloo commented on #131
That makes sense, and thanks for the quick response. Really appreciate your help!

[2020-01-30 09:17] soulfly commented on #121
I agree it's not a high prio, please just put it into your queue

the prosed syntax with 'return true' also works, I like it 👍

[2020-01-30 09:25] DaveLomber commented on #130
Let me try to prepare a  stackblitz demo

[2020-01-30 12:20] DaveLomber commented on #130
Ok so far I prepared a stackblitz demo
https://stackblitz.com/edit/angular-ngx-ui-scroll-1-3-0-i9ky7u

but was not able to repro...

what I can say about my use case is the following:
- a user switches a chat window
- we do adapter reload to show new chat messages
- then we check how much messages we have in redux and if it's < 50 then we have a BOF and hence perform a load more which resulted in

[2020-01-30 17:12] DaveLomber commented on #125
Hi @dhilt
do you have any updates when will you able to release a new release with this feature?
This is probably I final main frontier at your side
thank you

[2020-01-30 17:36] dhilt opened #133 "Updater optimization"
Currently `Workflow.fix({ updater })` runs through all the items in the Buffer. Could the procedure be optimized? There is a suggestion to convert `updater` into predicate function or provide breaking callback:

[code]
_______
Source: [issue 121](https://github.com/dhilt/ngx-ui-scroll/issues/121#issuecomment-578719109)

[2020-01-30 17:37] dhilt commented on #121
@soulfly I opened new issue: https://github.com/dhilt/ngx-ui-scroll/issues/133

[2020-01-30 17:55] dhilt commented on #130
@DaveLomber Thanks for providing details, but please add the scroller dev-log taken from your environment with processes logging enabled:

[code]

Do not turn off your internal app logs as they might be helpful too, especially around the point of `isLoading` hanging.

Also, let's not abandon the efforts to reproduce it via live demo...

[2020-01-31 00:24] dhilt commented on #131
@hungyiloo ngx-ui-scroll v1.3.3 is released, it contains the fix

[2020-01-31 00:24] #131 closed, assigned to nobody

[2020-01-31 00:31] dhilt commented on #125
Just fixed issue https://github.com/dhilt/ngx-ui-scroll/issues/131, so this one may be next

[2020-02-04 16:07] DaveLomber opened #135 "getting wrong (old) indexes in inverted 'getAdapterData' when scroll (iOS WebView)"
Hi there,

it seems we are facing one more issue on iOS WebView when scroll to older messages

Here is our code:

    DATA_SOURCE_ITEMS_MIN_INDEX = 0

    get: (index, count, success) => {
        const data = this.getAdapterData(index, count).reverse();
        success(data);
     }

    private getAdapterData(_index: number, count: number) {

      const index = -_index - count + DATA_SOURCE_ITE

[2020-02-04 20:56] DaveLomber commented on #135
@dhilt  here is a demo video using your Inverted code sample and iOS Safari browser

as you see, it works well with normal order, but it's lagging with an inverted one

https://easyupload.io/bw2rx0

This is definitely something wrong on iOS Safari browser / web view

[2020-02-04 21:00] DaveLomber commented on #135
and Safari Desktop works perfect, so it's only mobile related

[2020-02-05 01:43] dhilt commented on #135
@DaveLomber I think wrong data request is caused by wrong scroll behaviour and not vice versa. Datasource implementation seems cross-browser, isn't it? But the scrolling itself... it depends on device and browser. Your demo reminds me of scroll-top inertia issues. You may get some details [here](https://github.com/dhilt/ngx-ui-scroll/issues/87#issuecomment-475085865). These overjumps strongly corr

[2020-02-05 08:07] DaveLomber commented on #135
@dhilt What I can say is that the issue is not only on Safari iOS, but also Chrome iOS - so in general it's iOS browser and iOS WebView

Re debug mobile Safari - if you use macOS then you can install Xcode and run iOS Simulator there

[2020-02-05 08:17] DaveLomber commented on #135
Just checked this https://github.com/dhilt/ngx-ui-scroll/issues/87
btw I use the latest lib version

Please let me know if I can help somehow here

[2020-02-05 10:30] DaveLomber commented on #135
@dhilt  I may have an alternative solution on how to implement an inverted data source.. by applying a transform property

[code]

A link to https://stackblitz.com/edit/angular-ngx-ui-scroll-1-3-0-sl8sek?file=src/app/app.component.css

which seems to work fine even on iOS

A video demo https://easyupload.io/xqh6xg

do you have anything against this approach of implementing an inverted data source

[2020-02-05 15:38] dhilt commented on #135
@DaveLomber css approach is damn good (except the scrolling itself is also reversed; could it be fixed?) -- would you like to extend the official demo as follows

<img width="783" alt="Screenshot 2020-02-05 at 18" src="https://user-images.githubusercontent.com/4365660/73855906-c697c580-4845-11ea-9c6d-0f37dfa692c2.png">

The sources are here:

./demo/app/samples/datasource/inverted-datasource.compo

[2020-02-05 15:49] DaveLomber commented on #135
"except the scrolling itself is also reversed; could it be fixed" - I did more tests on it today

It looks good for iOS and Firefox
but is inverted for Chrome, Safari and Android

I did a deep investigation re this some time in past but did not find a way on how to fix it..

[2020-02-05 15:53] DaveLomber commented on #135
And to say more - this 'css' like inverted thing works much much better than Inverted datasource, I really like it...
the only damn issue is this  inverted scroll effect I can't figure out how to fix it ...

[2020-02-05 16:19] dhilt commented on #125
@soulfly There is one suggestion that might relate to this issue (thanks to @DaveLomber, [issue 135](https://github.com/dhilt/ngx-ui-scroll/issues/135)) based on css transform

[code]

Change `MAX` to 2 in this demo: https://stackblitz.com/edit/angular-ngx-ui-scroll-1-3-3-inverted-by-css

The only trade-off we need to deal with is that the scrolling itself is also being inverted.

[2020-02-05 21:14] soulfly commented on #125
Thanks @dhilt
This is indeed very interesting

Btw

In past, to revers a scroll on Chrome, I did the following:

display: flex
flex-direction: column-revers;

and this also saved a correct scroll direction

But, I tried it with the lib and it produces some very strange issues
Is there any reason of it?

[2020-02-06 01:24] dhilt commented on #125
@soulfly There is an auto-correction mechanism that handles and sets the scroll position manually many times in runtime. It might conflict with native things...

[2020-02-06 11:09] DaveLomber commented on #106
@dhilt sometimes it does not work as intended

either using

    this.datasource.adapter.fix({ scrollPosition: this.messageList.scrollHeight });

or

     this.messageList.scrollTop = this.messageList.scrollHeight;

it just does not scroll enough and left 10-50 pixels to the bottom

probably it relates to internal logic changes to scrollHeight value
I'm just trying to figure it out..

[2020-02-06 20:31] StriderRanger commented on #106
@DaveLomber I had a similar situation where there was an extra padding, and scrolling to bottom by the first load of the list was sometimes missing some pixels to the bottom of the list.
In my case, my list has items that are filled asynchronously, and by the time they are fully filled, the ui-scroll was not up to date with the new height of the items, therefore the padding-forward was not accurat

[2020-02-07 12:48] DaveLomber commented on #106
@StriderRanger aha, then this does explains this mystery to me!
Thank you for the clarification

[2020-02-07 13:01] DaveLomber commented on #106
In my case it was with image attachments

so it was

      img {
        max-height: 200px;
      }

and I replaced with

      img {
        height: 200px;
      }

which did a trick

I can't believe it's so simple...

[2020-02-09 03:53] dhilt commented on #125
@soulfly v1.3.4 had been released, it contains "reverse" experimental settings, which might help in your case. I posted the demo describing it: https://dhilt.github.io/ngx-ui-scroll/#/experimental#inverse-setting

Please take a look!

[2020-02-09 10:16] soulfly commented on #125
many thanks!
I will have a look and get back with the results

[2020-02-12 17:52] taujoey commented on #83
Any update about this? I really like this library, but the 'get' method makes it impossible to insert anything at a specific index, so i actually return an empty list, than use append to populate the list. It works great with a remote db, when some data arrives, but i dont see any solution to perform an insert without any trickery (like insert into a backing array, reload full list, and use the ge

[2020-02-12 19:45] dhilt commented on #83
@taujoey  I waited for such request, so I know what I will do next. I can't estimate the efforts but I think I'll be able to start this task on next week. Also, you may take a look to one experimental feature released recently, `Adapter.fix({ updater })`, [see demo](https://dhilt.github.io/ngx-ui-scroll/#/experimental#adapter-fix-updater).

It provides an access to current items in the scroller bu

[2020-02-13 09:38] soulfly commented on #125
just finally had some time to perform more tests

So far it displays it OK which is awesome

The only one thing I noticed is a one side effect

When a user switches chats, we do a datasource re-creation :

     this.datasource = null;

     ...

     this.datasource = new Datasource ({ .... })

so new data comes here

and here we have a loading state tracker

     this.datasource.adapter.isLoading

[2020-02-13 10:08] soulfly commented on #125
so far I did a dirty fix - after initial loaded data, I did a 1px scroll which produces `isLoading=false`

      const scrollPosition = this.messageList.nativeElement.scrollTop + 1;
      this.datasource.adapter.fix({ scrollPosition });

[2020-02-14 23:30] dhilt opened #139 "Replace Datasource on the fly"
Based on https://github.com/dhilt/ngx-ui-scroll/issues/125#issuecomment-586521251

[2020-02-14 23:42] dhilt commented on #125
@soulfly I'm happy to know the issue is resolved! One thing surprised me in your last comments, I mean `this.datasource = null`. I think this should go in another way and I see two options:

 - replace the logic of `datasource.get` method instead of `datasource` itself when you need to change chat; let the datasource object keep its reference, do whatever you want inside  the `datasource.get` meth

[2020-02-14 23:42] #125 closed, assigned to nobody

[2020-02-18 05:19] dhilt commented on #132
@0xSeb ngx-ui-scroll v1.4.0 is released and available via npm, it contains fix for this issue, thanks to @lmreicks! Release notes: https://github.com/dhilt/ngx-ui-scroll/releases/tag/v1.4.0

[2020-02-18 05:19] #132 closed, assigned to nobody

[2020-02-19 08:37] soulfly commented on #125
@dhilt let me provide more info on this matter

- actually `this.datasource = null` work pretty well as from what I see. Before it, I did `reload` on chat switch, which also worked pretty well, but I ran into issue when we switch to an empty chat - there were prev chat messages displayed on a chat window, some clearing was not done well I guess.  After switching to `this.datasource = null`  it sta

[2020-02-19 20:48] DaveLomber opened #141 "Wrong scroll position on start when an items height > viewport and inverse = true"
There seem to be an issue with wrong scroll position for 'startIndex' setting when an item heigh > viewport height.

A demo
https://stackblitz.com/edit/angular-ngx-ui-scroll-1-3-0-tbjtc1?file=src%2Fapp%2Fapp.component.css

If we use

[code]

then all is ok

but if we set something bigger than a viewport, e.g.

[code]

then there is an issue with proper scroll positioning.

There can be a case in c

[2020-02-20 03:35] dhilt commented on #141
@DaveLomber The use case makes sense, but I don't see the problem.

In your demo (thanks for the one!) the reversed viewport is used, so the first item (determined by startIndex: 9) is adjacent to the bottom line. I played with its height increasing it from 50 to 215:

![ezgif-1-053edcee384d](https://user-images.githubusercontent.com/4365660/74897629-c1d82300-53a8-11ea-8e9e-6bf0be2a166c.gif)

You

[2020-02-20 09:10] DaveLomber commented on #141
Hi @dhilt
I think I was too tired yesterday evening when posting it and provided a bit wrong information to you...

Let me please clarify it a bit with a new demo

This is an inverted datasource

https://stackblitz.com/edit/angular-ngx-ui-scroll-1-3-0-tbjtc1?file=src%2Fapp%2Fapp.component.ts

Issue N1:
- with  `startIndex: -2` it works well, the top element is 2. When I set ` startIndex: -10, ` th

[2020-02-20 09:22] DaveLomber commented on #141
Ok, one interesting observation re Issue N1 - if `startIndex ` is within `bufferSize` then it's ok, if it's higher then we can see this minus one effect

[2020-02-21 14:46] dhilt commented on #141
@DaveLomber Regarding 1 issue, I would not rely on `settings.maxIndex` in case of inverted datasource. Playing with indexes on the datasource level we deceive the scroller as it doesn't know anything about the data it is going to fetch via `datasource.get`. My purpose for the issue 1 is to move a restriction logic into the datasource implementation.

Here is the working demo: https://stackblitz.co

[2020-02-21 15:29] DaveLomber commented on #141
@dhilt  thanks
this is interesting, let me try

anything extra you need for #2 - please let me know

[2020-02-22 03:41] dhilt commented on #141
@DaveLomber You know, the `inverse` setting is pretty dumb. Per [inverse demo](https://dhilt.github.io/ngx-ui-scroll/#/experimental#inverse-setting) description:

In your case it just does not have an impact on the result due to the fact that the item is big enough and there is no need to stretch paddings. In other words, if  the visible part of the viewport is filled, the `inverse` setting will n

[2020-02-22 03:56] dhilt commented on #125
@soulfly The only thing the scroller provides to the host component is the list of items, and the scroller flushes this list on reload, moreover it hides the DOM elements bound with these items before flushing:

https://github.com/dhilt/ngx-ui-scroll/blob/02ae0f9fe8dd98fcf5ba1fd55ae9436f93c4e62a/src/component/classes/buffer.ts#L43-L47

So, speaking of the App UI, there is nothing more to clean up

[2020-02-22 23:55] dhilt commented on #120
Since ngx-ui-scroll v1.4.1, the scroller workflow is not responsible for triggering the Change detector. Now the only place where it might happen is the UiScrollComponent:

https://github.com/dhilt/ngx-ui-scroll/blob/225bfdcc21c6c1086cdef83f0263a205802b5c69/src/ui-scroll.component.ts#L61

Marking the view as changed happens in response to any `items` array changes during common workflow processes

[2020-02-22 23:55] #120 closed, assigned to nobody

[2020-02-23 03:36] StriderRanger opened #143 "Detect first load of the ui-scroll"
Hello,

I have a case where the items of the ui-scroll change their height asynchronously, and I need to scroll to the bottom of the list once the check of the first load is over, and before the user performs a manual scroll.
I thought about using a counter to base my check on the number of times we call the `Adapter.get` method, but The first load calls the `Adapter.get` method sometimes once and

[2020-02-23 12:35] dhilt commented on #143
@StriderRanger One or more `get` calls could be handled via self-destructing `isLoading$` subscription in case that calls occur in the same workflow cycle:

[code]

This should be run after `check` process is done, because `check` process spends 1 separate workflow cycle. I have a thought to join `check` wf cycle with the following `get` wf cycles (if they are present) into a single wf cycle, but

[2020-02-23 16:00] StriderRanger commented on #143
@dhilt Thank you for your constant help :) It was insightful to know how the `get` and the `check` methods interact regarding their wf cycles.
I used the `Adapter.isLoading$` observable but I didn't get the wished result. Perhaps because I need to scroll to bottom on manual check, when all actual items of the ui-scroll take their final size.

I tried another approach that seems to work , and If un

[2020-02-24 10:04] soulfly commented on #125
Re inverse problem - seems it's more or less same as here - probably some race conditions
https://github.com/dhilt/ngx-ui-scroll/issues/130#issuecomment-579795833

Anyway I might need to do more tests

[2020-02-24 14:26] DaveLomber commented on #130
@dhilt I tried this fix
https://github.com/dhilt/ngx-ui-scroll/issues/130#issuecomment-579805410

so far I got a success after ran tests

the only one thing I noticed - sometimes tests are not stable, even in master branch - getting randomly "Error: Timeout - Async callback was not invoked within 2000ms (custom timeout)"

[2020-02-24 16:49] DaveLomber commented on #141
@dhilt Thanks, rx js indeed a great thing for all such things! :)

[2020-02-24 16:52] DaveLomber commented on #141
@dhilt I might need to request your feedback on one more magic thing we face

Please use my latest demo
https://stackblitz.com/edit/angular-ngx-ui-scroll-1-3-0-tbjtc1?file=src%2Fapp%2Fapp.component.ts

and set

- buffer size to `bufferSize: 20`
- messages length to 7 (less than buffersize) - `for (let i = 0; i < 7; ++i) {`

Result: ` inverse: true` does not really works as expected - there is a bl

[2020-02-24 17:05] DaveLomber commented on #141
Actually seems it tries to stick to the  bottom, but then a jump occurs

[2020-02-24 22:33] dhilt commented on #143
@StriderRanger Unfortunately, there is no way to get the difference between the user scroll event and the artificial one. Remembering the position before artificial scroll, setting the flags and other tricks don't cover all possible cases. [Just saw [your edit on SO](https://stackoverflow.com/a/31688482/3211932)] But for the mobile context, I think, this is appropriate way.

Also, I would consider

[2020-02-24 23:51] dhilt commented on #141
@DaveLomber Actually, I don't see the problem running [your last demo](https://stackblitz.com/edit/angular-ngx-ui-scroll-1-3-0-tbjtc1):

<img width="873" alt="Screenshot 2020-02-25 at 02 44 54" src="https://user-images.githubusercontent.com/4365660/75201180-d5a0d200-5778-11ea-8d49-660fd9231a5e.png">

Maybe wrong link? or what browser is it?

[2020-02-25 08:55] DaveLomber commented on #141
@dhilt I have updated it
just need to replace

[code]

[2020-02-25 13:06] dhilt commented on #141
@DaveLomber The math seems bad. In your last piece the datasource returns 2 arrays in sequence: [0..6] and then [1..6]. This is initially, before scrolling, and this is not consistent as the arrays intersect. The previous try (which seemed worked) also was imperfect, it gave [0] and [1..6]. Though, as you can see, it was consistent. But I believe the best result would be to have [0..6] and [] on s

[2020-02-25 18:50] markdBC commented on #40
@dhilt I've replied to your question on SO (https://stackoverflow.com/questions/58826887/using-dynamic-component-within-angular-structural-directive-produces-extra-html) with a solution. Does this help solve the problem with tables?

[2020-02-26 00:48] dhilt commented on #40
@markdBC That seems work, I tried it on ngx-ui-scroll locally and can confirm that we are ready to take another step towards supporting table-based layout. Maybe you want to make a PR looking at [table-layout](https://github.com/dhilt/ngx-ui-scroll/tree/table-layout) branch?

The directive changes should go there:
https://github.com/dhilt/ngx-ui-scroll/blob/228296cb07edc4f7708c62090ff7dd7c08a82846

[2020-02-26 08:48] DaveLomber commented on #130
@dhilt  regarding this issue with 'isLoading' hanging in a 'true' state - I guess I have a potential reason of this.
Randomly I faced this issue again with some case in my app and what I noticed is that I created a 'datasource' object before my scroll div is rendered in DOM, which then caused this  'isLoading' hanging in a 'true' state.

Here is what I have in my template:

        <ul *ngIf="!sho

[2020-02-26 11:21] dhilt commented on #130
@DaveLomber Would be great to have a repro over the latest lib version. But what I want to say is that `isLoading` is the property of the Workflow, which is being initialised after the component passed through `ngOnInit` hook and being destroyed on `ngOnDestroy` hook. If you destroy-recreate DOM randomly, I guess, it may lead to the issue and the issue needs to be fixed possibly on the app side, p

[2020-02-26 11:40] markdBC commented on #40
@dhilt No problem! I've submitted a PR at https://github.com/dhilt/ngx-ui-scroll/pull/145.

[2020-02-26 13:28] DaveLomber commented on #141
@dhilt could you please check this demo https://stackblitz.com/edit/angular-ngx-ui-scroll-1-3-0-rnsvxm?file=src/app/app.component.ts

with your math provided it's better, but I still randomly can face the issue in my app,
and now I reproduced it in a demo

One element should be bigger than the rest  - and then the issue occurs

[2020-02-26 19:47] StriderRanger commented on #143
@dhilt I understand that it's essential to assure that the scroller is not loading (`Adapter.isLoading = false`) before to perform an operation like scrolling in the list. This way some unintended behaviors could be avoided.
As for detecting the user scroll I couldn't find neither a proper way to predict all the possible cases, this is why I sticked only to the `touchmove` event since I am in a mo

[2020-02-26 22:10] dhilt commented on #40
@markdBC amazing!.. I asked you to look at the initialization issue in the [new PR comment](https://github.com/dhilt/ngx-ui-scroll/pull/146#discussion_r384795672), if you have time.

[2020-02-26 22:45] dhilt commented on #143
I think we are done, thank you for the discussion and please open new issues at any time!

[2020-02-26 22:45] #143 closed, assigned to nobody

[2020-02-27 02:46] dhilt commented on #141
@DaveLomber  Now, that's more like it

<img width="515" alt="Screenshot 2020-02-27 at 05 41 36" src="https://user-images.githubusercontent.com/4365660/75407367-db86e680-5923-11ea-802c-0a4d23870257.png">

I see the issue and will work on this. Something is wrong when adjusting with "reverse"...

[2020-02-27 22:43] ThomasDevens opened #148 "Angular 9/Ivy warnings"
Getting this warning when running angular's postinstall script `ngcc --properties es2015 browser module main --first-only --create-ivy-entry-points`:

[code]

[2020-02-28 02:11] DarthVeyda opened #149 "Scrolling event triggers by itself when using nz-spin"
We are using ngx-ui-scroll with a (potentially) long list of expandable elements, and we've encountered a strange problem. When I add an <nz-spin> to indicate that the list is loading/finished loading, on opening the page the list start to expand as if we were scrolling the page - the list keeps expanding in bufferSize-sized portions until the whole array is loaded. That's probably not how it's su

[2020-02-28 05:35] DarthVeyda opened #150 "trackBy support for *uiScroll"
ngx-ui-scroll doesn't seem to support trackBy - it doesn't recognise either *ngFor syntax `trackBy: trackByFn` or ng-repeat syntax `track by`. Is there any way to make it work? If not, do you have any plans to add it?

Thank you in advance!

[2020-02-28 11:47] queueseven opened #151 "Using 'new Datasource()' leads to 'redefine non-configurable property'-error"
When I use

[code]

I get the following error at runtime:

![grafik](https://user-images.githubusercontent.com/3126597/75546356-a31d0080-5a28-11ea-970c-da63ca05d2da.png)

since version 1.4.0. Version 1.3.4 works fine.

The error is raised here:

https://github.com/dhilt/ngx-ui-scroll/blob/master/src/component/classes/adapter.ts#L93

[2020-02-28 13:26] dhilt commented on #151
@queueseven Thanks for the report! I released ngx-ui-scroll v1.4.2 containing necessary fix for the issue. Would be great if you confirm it works for you.

[2020-02-28 14:05] dhilt commented on #150
@DarthVeyda You know, the uiScroll is kind a mock of ngFor... Its Datasource is not iterable, and `Datasource.get` is not iterable too. This is the Scroller responsibility to request the only items that needed for render, while the App responsibility is to provide the items by index-count params via `Datasource.get` API method. So you may treat `index` as a kind of `trackBy`, as it might be linked

[2020-02-28 14:05] #150 closed, assigned to nobody

[2020-02-28 14:27] queueseven commented on #151
@dhilt Seems to work now. Thanks for the quick fix!

[2020-02-28 14:29] queueseven commented on #151
Sorry, that was to fast :-)

It seemed to work at first, but now I see

[2020-02-28 14:32] dhilt commented on #151
@queueseven hm...looks like observable props are also affected

[2020-02-28 14:47] dhilt commented on #151
@queueseven Can't catch the `$isLoading` case, in my vision it should be safe enough... the dashed observable props are being set only once. Could you please reproduce your infrastructure forking [this v1.4.2 stackblitz](https://stackblitz.com/edit/angular-ngx-ui-scroll-1-4-2)? dependencies and the lib usage. It would be very helpful!

[2020-02-28 15:12] dhilt commented on #149
@DarthVeyda May I ask you to look at [angular-ngx-ui-scroll-1-4-2-ng-zorro demo](https://stackblitz.com/edit/angular-ngx-ui-scroll-1-4-2-ng-zorro) I just drafted for this issue? It would be great if you could update it to provide the repro of the issue. Basically "HTML element is not defined" message is talking about DOM related problems and I guess it has something to do with that self-expanding

[2020-02-28 16:04] queueseven commented on #151
Sorry, I can't repoduce it myself, since I changed the code I'm currently working on a lot. I think one of the problem was my complicated template/component with multiple `*uiScroll` and trying to change the `get` function of my datasource/datasources at runtime. Now I simply use a single `*uiScroll` that I never hide and everything works fine.

[2020-02-28 16:04] #151 closed, assigned to nobody

[2020-02-28 21:17] DaveLomber commented on #141
@dhilt please let me know when you can do this
Thanks

[2020-02-29 14:10] dhilt commented on #151
@queueseven That's it... By the way, I arranged a new issue recently that might relate to what you said on changing the `datasource` at runtime: [Replace Datasource on the fly](https://github.com/dhilt/ngx-ui-scroll/issues/139).

[2020-02-29 15:40] dhilt commented on #148
@ThomasDevens Thanks for the report! I fixed deep-imports issue and released ngx-ui-scroll v1.4.3 containing the fix. Would be great if you could confirm the issue is gone.

[2020-03-01 09:45] DarthVeyda commented on #149
@dhilt Thanks for your reply! I need some time to try and reproduce the layout that has unprompted scrolling, (the "HTML element is not defined" is here, just in case: https://stackblitz.com/edit/angular-ngx-ui-scroll-1-4-2-ng-zorro-ujuy18).

[2020-03-02 14:22] ThomasDevens commented on #148
Sorry for the delayed response; Confirmed warnings are gone, thanks for the quick response!

[2020-03-02 14:22] #148 closed, assigned to nobody

[2020-03-02 22:01] dhilt commented on #141
@DaveLomber ngx-ui-scroll v1.4.4 is released. I don't think the "inverse" case is done, but this particular issue should be fixed. Could you please check it and open new issue if any questions?

[2020-03-02 22:01] #141 closed, assigned to nobody

[2020-03-03 14:32] dhilt opened #156 "Scroll to item via Adapter.fix"
The suggestion is to provide `Adapter.fix({ scrollToItem })` API which would allow manual scrolling to a specific item in the Buffer. So `scrollToItem` should be an item predicate function:

[code]

Also, if this is implemented via [Element.scrollIntoView()](https://developer.mozilla.org/en-US/docs/Web/API/Element/scrollIntoView), the options will need to be passed. The first idea is to add one mo

[2020-03-04 09:14] DaveLomber commented on #141
@dhilt  thanks so much
let me try  it and get back to you in a case of any issues

[2020-03-09 11:33] soulfly commented on #125
@dhilt probably there will be good to have a public datasource method like `reset` which will do 2 things:
- cleanup UI
- reset the internal state

Nullify the `this.datasource = null` is obviously a bad idea, so the only one possible thing is to use `reload` when switch chats.

But even with `reload`  there is an edge case, let me explain it.

Here is what I do currently:
- a user switches a chat

[2020-03-09 14:31] dhilt commented on #83
[ngx-ui-scroll v1.5.0](https://github.com/dhilt/ngx-ui-scroll/releases/tag/v1.5.0) is released, it contains new Adapter.insert method

[2020-03-09 14:31] #83 closed, assigned to nobody

[2020-03-12 08:30] aramwram opened #158 "How to scroll to a specific item?"
Hello.

Thanks for the fantastic package.

Is it possible to programmatically scroll to a specific item identified by index, i.e. something like `adapter.scrollTo(10)`?

I was able to utilize `adapter.reload(10)` but then all indexes less than 10 disappear (which is expected I guess).

Another working option is to set `startIndex: 10` but it works only for the first time. If I could change and app

[2020-03-12 13:57] dhilt commented on #158
@aramwram Glad to hear the lib is useful! Right now we have no such functionality (though [there are some plans](https://github.com/dhilt/ngx-ui-scroll/issues/156) on the implementation in the near future), but you may try to achieve it via `Adapter.fix({ updater })` API which is experimental but is available since ngx-ui-scroll v1.3.1. Here is [the demo and explanations](https://dhilt.github.io/n

[2020-03-12 15:39] aramwram commented on #158
@dhilt,

For me the proposed solution works only for elements within the viewport while I need to get to any elements, even those which are not yet in DOM.

Recently, I've found a hacky way of programmatically scrolling anywhere:
1. Wrap uiScroll in *ngIf:
[code]
2. In component make `*ngIf="false"`, then re-create DataSouce with `startIndex: indexToScrollto`, wait for stable zone and then make `*

[2020-03-12 21:20] dhilt commented on #158
@aramwram You are right, my suggestion only works for items that are currently exist in the buffer. The second point is that I'm sure there should be no difference between initialization with `startIndex = 10` and reloading via `Adapter.reload(10)`. I created [demo on stackblitz](https://stackblitz.com/edit/angular-ngx-ui-scroll-1-5-0-reload-and-reinit?file=src/app/app.component.ts), with the help

[2020-03-12 23:01] lmreicks opened #159 "Development Questions"
I'm working on improving some of the documentation and improving how ui-scroll works with asynchronous data. I have a few questions about the implementation and I'm not sure where else to ask these.

1. Can I get a brief overview of what the Buffer class does? Specifically, can you explain the concept of a 'pack'?
2. How/when should clip be used? What does 'doClip' mean?
3. (This one isn't very mu

[2020-03-13 02:29] dhilt commented on #159
@lmreicks Answering on last question, I want to show you the uiScroll Workflow diagram. It also will be useful for other questions. But let's consider the 4 one.

Current version of the uiScroll Workflow is 6.5, I have the diagram only for version 5.0. It is outdated, but it can shed light on the basic concept:

![workflow-5](https://user-images.githubusercontent.com/4365660/76582305-efffdd00-64e6

[2020-03-13 09:05] aramwram commented on #158
@dhilt ,

After some redesign I tried adapter.reload(10) again and it magically started to work as "scrollTo(10)". Now I cannot reproduce the issue where all items with indexes < 10 were dissipating.

I'm closing this issue then as long as I don't have a clear state of reproduction. Thank you very much for your help and for the lib itself.

[2020-03-13 09:05] #158 closed, assigned to nobody

[2020-03-13 14:11] dhilt commented on #139
@soulfly I released ngx-ui-scroll **v1.5.1-beta**, it is also accessible via ngx-ui-scroll@next. It has `Adapter.reload(datasource)` method implementation. May I ask you to take a look and say if it covers your needs or not?

For reset with only some specific setting change the following call can be used:

[code]

[2020-03-14 02:08] dhilt commented on #159
@lmreicks

**1)** Buffer keeps the main thing across all the module: `$items`. This is the only data that propagates from the Workflow to the UiScrollComponent. All `Buffer` methods are dedicated to maintain `$items` and related data such as EOF/BOF.

Not sure, what's the `pack` you mentioned? Does this relate to `PreFetch.skipBufferedItems` method? That method is dedicated to flushing indexes tha

[2020-03-14 16:17] dhilt commented on #139
**v1.5.1-beta.1** is released. It includes handling of interruption cases, when the `reset` is called during the Workflow run. It also is available via ngx-ui-scroll@next

[2020-03-18 16:49] Ar-Kan opened #162 "Initialization with an empty array makes 'get' to don't be called"
Hello,

I need to have the scroller initialize without elements, and populate it after a user search input.

My current implementation:

[code]

Then load the first items with `append`

[code]

But when 'datasource' gets the empty array it stops loading dynamically the items and acts as a common list component.

Any help is appreciated, thanks!

[2020-03-18 21:16] dhilt commented on #162
@Ar-Kan Thanks for the question! The point is that if the Datasource returns empty array then BOF or/and EOF is reached and the Scroller remembers it. This is what the doc tells about it:

The first option getting to my mind is just to hide the view with `*ngIf="!query_made"`. Show empty viewport as a separate container instead. And `success([])` can be removed from the `datasource.get` implementa

[2020-03-19 02:33] dhilt commented on #139
**v1.5.1-beta.2** is released. The main change is Adapter persistence, for example, the subscriptions made before `reset` will work after `reset`. Available via ngx-ui-scroll@next

[2020-03-19 14:37] DaveLomber commented on #162
Another option that we use is to initialize `datasource` at the time we have > 0 records

[2020-03-19 14:47] DaveLomber opened #163 "CPU load 100% when viewport has 'display: none' style"
There were couple cases where our app got freezes

We started to investigate and found that if a viewport has a  'display: none' style then it produces a freeze with 100% CPU load

can be reproduced here (press on Enable button) https://stackblitz.com/edit/angular-ngx-ui-scroll-1-5-0-enable-on-demand-pxejsu?file=src%2Fapp%2Fapp.component.css

I know it's not correct logically to use a `display: no

[2020-03-19 16:25] dhilt commented on #163
@DaveLomber I was able to reproduce the issue. Scroller passes null-size items and this hangs following PreFetch process run. I need to think how to fix it, I see two options: do not fetch if the viewport can't have positive size OR break the Render process if fetched items have zero size. First option seems simpler but the second one is wider and can be applied not only to the case of invisible v

[2020-03-21 02:10] #109 closed, assigned to nobody

[2020-03-21 23:01] dhilt commented on #139
**v1.5.1** is released, see doc and [demo](https://dhilt.github.io/ngx-ui-scroll/#/adapter#reset)

[2020-03-21 23:01] #139 closed, assigned to nobody

[2020-03-22 01:53] Ar-Kan commented on #162
Ah now I get it, I thought it was something related with BOF/EOF but didn't understand the concept., also the part about giving `get` a central rol, but now it will work beautifully 😄.

Actually, a little time ago, I was able to get it working, by replacing `success([])` with `fail()`, though I believe it wasn't meant for this specific case.

Thank you @dhilt and @DaveLomber for all the help, much

[2020-03-22 01:53] #162 closed, assigned to nobody

[2020-03-23 21:02] dhilt commented on #163
v1.5.2 is published and ready for use

[2020-03-23 21:02] #163 closed, assigned to nobody

[2020-03-23 21:16] DaveLomber commented on #163
@dhilt  Thanks!
We will integrate

[2020-03-29 21:04] dhilt opened #165 "Inertia scroll processing"
The basics are taken from [Inertia fix PR](https://github.com/angular-ui/ui-scroll/pull/238) (angular-ui-scroll).

### The problem

The update of the scroll position  made programmatically can be overridden by the inertia scrolling process, which is handled by the browser internally.

Depends on inertia implementation (Device + OS + Browser).

Irregular, can't be 100%-reproduced.

### Details

We

[2020-04-03 22:01] StriderRanger opened #167 "Rendering problem while updating from v1.5.1 to v1.5.2"
Hello!

While updating from v1.5.1 to v1.5.2 I faced a problem with the display of a list with an inverted datasource.

The problem was mainly noticed in the values of the `forward padding` and `backward padding`, where these values were correctly updated in `v1.5.1` but stayed at their initial values in `v1.5.2`.
I hope these logs give more insight of the problem:
- [Padding-issue-v1-5-2.log](htt

[2020-04-04 00:37] dhilt commented on #167
@StriderRanger Thanks for logs! v1.5.2 log seems not realistic:

[code]

Let me think a bit right here... "size" had obviously been changed from 442 to  961 during render. Looking at the code we may see that "before render" log

https://github.com/dhilt/ngx-ui-scroll/blob/441d5767cd455e924dc23fda5a9c94e8202d4f39/src/component/processes/render.ts#L9

and "before-size" measurement

https://github.co

[2020-04-04 14:58] StriderRanger commented on #167
Thank you for your explanation!
You went straight to the point by suspecting the `!important` property. In the css relative to the viewport of the list presenting the problem I had:
[code]
I don't remember why I forced the values of these properties to `unset` but by deleting this code my problem was solved. Maybe there was some change from v1.5.1 to v1.5.2 that showed the vulnerability of this co

[2020-04-04 15:34] dhilt commented on #167
@StriderRanger  Well, I think we've found the cause. New log doesn't confirm it, maybe logger call is not in the right place, but it doesn't matter. Can you allow the rows positioning to be controlled by the Scroller? This should fix the problem for now.

Also, I'm thinking of how to improve rendering. The point is that I need to make all scroll adjustments in the same repaint frame as the end of

[2020-04-04 20:12] StriderRanger commented on #167
For now the behavior of the scroller seems good, but enhancements are always welcome :) Already the `ui-scroll` is giving much flexibility and options that are really useful, thank you for the great work !
I run some tests and the behavior of the scrolling was normal, which means that I can let the Scroller manage the rows positioning. I'll let you know if ever I run into any problem related to th

[2020-04-04 20:44] dhilt commented on #167
Great! We'll reopen this issue or create another one if needed.

[2020-04-04 20:44] #167 closed, assigned to nobody

[2020-04-07 01:29] #165 closed, assigned to nobody

[2020-04-07 01:48] dhilt commented on #87
ngx-ui-scroll v1.6.0 is on npm, it drastically improves iOS behaviour and solves inertia scroll issue

Please, submit new issue if any problems!

[2020-04-07 01:48] #87 closed, assigned to nobody

[2020-04-08 13:11] soulfly commented on #125
@dhilt just want to get back to you with the feedback
Finally tried 1.6.0 and it looks pretty good:

- 'reset' method works great
-  no 'isLoading' hanging  (which still was there in 1.5.2)

I will continue testing, bit so far it looks pretty good.

Thank you for all your support!

[2020-04-08 13:37] dhilt commented on #125
1.6.0 has very important updates related to how we are handling scroll events, so I'm glad to know if it works better than previous versions. Feel free to open new issues!

[2020-04-10 13:02] dhilt opened #168 "Input data unification"
All input data must pass the same validation procedure:

 * datasource initialization params (get, settings, devSettings)
 * adapter methods params

[2020-04-20 18:29] #113 closed, assigned to nobody

[2020-04-22 18:40] #43 closed, assigned to nobody

[2020-04-23 06:53] amirhosein993 opened #170 "Scroll event not trigger while having multiple items per row"
Thanks to your great module.
I am using 3 items per row and getting data from server. the problem is that the data source get method not called when scroll ends. what should I do?
thanks for your help.
here is the code I'm using in my component.html:
`
            <div class="row" *uiScroll="let data of datasource">
                <div class="col-xs-12 col-md-4 mb-4" *ngFor="let item of data">

[2020-04-23 20:39] taujoey opened #171 "Replace/move item?"
Hi,

I switched my app to this ui-scroll implementation, it works great. Also started using the implemented 'insert' method, which i asked for, really thanks for that, works very well.

About replace.. :)
So, when i not only try to insert a single item, but before the insertion, I also remove another, the list flickers for a little. I think it is understandable, because the list immediately update

[2020-04-23 22:57] dhilt commented on #171
The case does make sense, absolutely. According to the [UIScroll Workflow](https://github.com/dhilt/ngx-ui-scroll/wiki/The-UIScroll-Workflow), each Adapter call raises at least 1 inner loop cycle which is asynchronous and takes at least 1 browser reflow. So, having 2 separate Adapter calls (remove and insert), we fall into 2+ reflows.

I think, there should be another Adapter method, allowing to p

[2020-04-23 23:21] taujoey commented on #171
Thanks for the fast reply. :) I'm happy i didn't miss something obvious :)
At first i thought about requesting the move method, but actually making multiple sequential api calls 'atomic' or transaction based could makes this much more powerful, and cover many use-cases.
Anyway, it's up to You :)

Thanks, I'll be checking back later :)

[2020-04-24 12:31] dhilt commented on #168
ngx-ui-scroll [v1.6.1](https://github.com/dhilt/ngx-ui-scroll/releases/tag/v1.6.1) is on npm

[2020-04-24 12:31] #168 closed, assigned to nobody

[2020-04-24 12:46] dhilt commented on #126
Since ngx-ui-scroll v1.6.1, the validation of the Adapter methods arguments had become more strict and unified:

https://github.com/dhilt/ngx-ui-scroll/blob/1abb97d0d15a59f22da2399520b6c029c6069a09/src/component/inputs/adapter.ts#L33-L37

INTEGER allows only numbers or non-empty strings

https://github.com/dhilt/ngx-ui-scroll/blob/1abb97d0d15a59f22da2399520b6c029c6069a09/src/component/inputs/valid

[2020-04-24 12:46] #126 closed, assigned to nobody

[2020-04-24 18:02] dhilt commented on #170
@amirhosein993 Any chance to have a repro? Basically your case is pretty common and we have one demo on stackblitz with the same template as yours:

https://stackblitz.com/edit/angular-ngx-ui-scroll-1-3-4-grouping-datasource

Note, that `this.data` is the real data provider in this sample, and applying the approach to your case (where your data provider is remote), you need to make all get-data me

[2020-04-24 23:22] dhilt commented on #156
ngx-ui-scroll v1.6.2 is on npm

[2020-04-24 23:22] #156 closed, assigned to nobody

[2020-04-29 10:23] amirhosein993 commented on #170
thanks for your help. have you an example code with http client module and observables?

[2020-04-29 14:39] dhilt commented on #170
@amirhosein993 Yes, we have one on stackblitz:

[ngx-ui-scroll v1.6.2 Remote Observable demo](https://stackblitz.com/edit/angular-ngx-ui-scroll-1-6-2-remote-observable)

Basically, you just need to invoke your API GET method with `index` / `count` signature which would return an Observable of list of items (`Observable<MyItem[]>`). You also don't need to subscribe:

[code]

So you need to replace

[2020-04-29 15:18] amirhosein993 commented on #170
thanks for your help :)

[2020-04-29 15:18] #170 closed, assigned to nobody

[2020-05-05 23:33] #129 closed, assigned to nobody

[2020-05-06 15:15] dhilt opened #173 "Support native scroll anchoring"
Per doc (v1.6.3):

The goal is to remove "overflow-anchor: none" requirement.

[2020-05-06 15:31] dhilt commented on #64
This is done with the release of ngx-ui-scroll v1.6.3. All the logic related to the Entire Window Scrollable case had been reconsidered. Also, the requirement of the "overflow-anchor: none" rule set on the topmost DOM node (html/body) for this case is appeared. Here's the new issue for removing this requirement: https://github.com/dhilt/ngx-ui-scroll/issues/173.

[2020-05-06 15:31] #64 closed, assigned to dhilt

[2020-05-11 03:14] StriderRanger opened #174 "Get the first/last loaded element in the DOM"
The scalars Adapter.firstVisible and Adapter.lastVisible besides their observables version allow to determine the first and the last visible items that are visible in the page.

In some cases, it is also handy to retrieve the first/last visible elements that are loaded (and not necessarily visible) in the DOM. Is there a simple way to have this information or would it be necessary that a new imple

[2020-05-11 14:53] dhilt commented on #174
Do you mean first/last buffered items that are in DOM at a moment with no connection to the visible viewport? Say, 4 and 12 rows on the diagram

![virtual-scrolling-settings-object-value](https://user-images.githubusercontent.com/4365660/81573063-acbdcf80-93ac-11ea-84f6-0a79565c936b.png)

where the visible group is only from 6 to 10.

Basically this can be done with `Adapter.fix({ updater })` appr

[2020-05-11 23:35] StriderRanger commented on #174
Even if there is no straightforward properties to use, this is a clean approach and it suits my needs, thank you!

[2020-05-11 23:35] #174 closed, assigned to nobody

[2020-05-12 20:35] #135 closed, assigned to nobody

[2020-05-16 18:24] dhilt commented on #173
Closing as 1.6.4 had been released.

Despite the lib now supports both cases (native scroll anchoring and its absence), the algorithm is optimized for the case when we do not have native scroll anchoring. But the more time passes, the more browsers supports it. So it seams reasonable to provide a refactoring which will assume native scroll anchoring case as the primary one. This should reduce the

[2020-05-16 18:24] #173 closed, assigned to nobody

[2020-05-16 23:43] StriderRanger opened #177 "Problem with displaying some items upon Adapter.insert()"
I have a case where I need to insert multiple items in my ui-scroll list, and where each item must be treated separately to know the exact place where it must be inserted in the list.

Before inserting the items, the ui-scroll list is updated to reflect some new data change, then each item that is intended to be inserted undergoes some steps before calling `Adapter.insert()`:
- The ui-scroll list

[2020-05-17 02:19] dhilt commented on #177
Let's try to figure out.

**1.** The error raises from `Item.setSize` method, which is not protected in contrast to other `Item` class methods:

https://github.com/dhilt/ngx-ui-scroll/blob/c439e1990ad03f5b3f39584700a76c0286f12fe4/src/component/classes/item.ts#L45-L59

This obviously should be fixed on the ngx-ui-scroll side.

**2.** As you have noticed, this will not help in your case. I see one i

[2020-05-17 17:13] StriderRanger commented on #177
Thank you for the clarification. As recommended I canceled the use of `Adapter.fix()` to update the max index, and I used the loopPending$ subscription to sync the `Adapter.fix()` calls.
The problem remains the same, here is the new logs without deleting anything:
[insert-problem.log](https://github.com/dhilt/ngx-ui-scroll/files/4640624/insert-problem.log)

The "WF Cycle 2-2 STARTED" occurrs twice

[2020-05-18 19:35] dhilt commented on #177
I caught the issue. Two "WF Cycle 2-2 STARTED" entries was the red flag and it led me to the cause. Both `Adapter.insert` methods are invoked simply one by one and they do their job in parallel, as I see in logs: the second _insert_ run when the first one is in render phase. The second method overrun the first one. This makes the item from the 1 _insert_ rendered improperly, it remains invisible a

[2020-05-19 15:31] StriderRanger commented on #177
Making the insert/check calls synchronous solved the problem, thanks :)
Since `adapter.isLoading$` is a `Subject`, I just would like to note that it's important to test if there is no pending process first, otherwise the insert will not trigger:
[code]
This code was based on some examples that you used before, and it comes handy in many situations.

It's a bit tricky to keep an eye on the places w

[2020-05-20 18:02] StriderRanger commented on #177
After analyzing further the app code, using the `Adapter` methods with the `await` expression will simplify greatly the code, and make the use of these methods tremendously more simple.

Any chance to have an approximate interval when these functionality could be added to the lib?

Thank you very much for your support !

[2020-05-22 04:04] dhilt opened #178 "Synchronization of the Adapter methods with the Workflow running"
Most of the Adapter methods are sensitive to the UIScroll Workflow running and the common use case is to run these methods only if the Workflow relaxes:

[code]

And if we need to do something after the append method finished its work (which includes new Workflow cycle running), the logic might become more complicated:

[code]

The idea is to provide a mechanism which will postpone the invocation

[2020-05-22 05:01] dhilt commented on #177
I created new issue https://github.com/dhilt/ngx-ui-scroll/issues/178. My guess is 2-3 weeks might require for the release. Also, I already [pushed some code](https://github.com/dhilt/ngx-ui-scroll/pull/179) to the repository...

[2020-05-22 05:01] #177 closed, assigned to nobody

[2020-05-27 13:29] dudipsh opened #180 "Chat App - start from bottom"
## Hello
 @dhilt
I would like to use your library to build a chat app, the requirements are

#### 1. auto row height
#### 2. start from bottom
#### 3. virtual+infinity scroll implemented with GraphQL (fetch more).

From your experience do you know if this library can tackle these requirements? I went through the documentation and the available demo's and couldn't put together a solution. Can you p

[2020-05-27 17:04] dhilt commented on #180
@dudipsh Backward going chat with uncertain size messages is **ultimately important use case**. I dreamed last months about a demo implementing it. I believe the requirements you put in the issue description can be fulfilled with existing API. Let me think how we can do it. What if I suggest developing a demo application on stackblitz and ask you to participate in testing and improving it?

[2020-05-28 05:52] dudipsh commented on #180
@dhilt
thanks for the quick answer
i think it will be amazing to open the stackblitz for this use case and i will help with the improving and testing

[2020-05-28 07:05] floAtEbcont opened #181 "Errors with angular 8"
Running/Building a default angular <= 8 project with ngx-ui-scroll >= 1.6.4 fails with the error `An accessor cannot be declared in an ambient context`.

The cause for this is being discussed here: https://github.com/microsoft/TypeScript/issues/33939

For my own libs, I fixed this by just downgrading to `typescript@3.6.x` before bundling the lib and pushing it to npm.
Or - if you decide to no long

[2020-05-29 15:41] dhilt commented on #181
Terrible story... Thanks a lot for the report and suggestions. I published ngx-ui-scroll v1.6.6 on npm with downgraded typescript. Could you confirm it works in your environment?

[2020-06-01 12:28] dhilt commented on #180
@dudipsh Hello! I started the demo: https://stackblitz.com/edit/ngx-ui-scroll-chat-app
Please take a look and it would be great if you could confirm we are on the right way and could help to go further.

Main ideas of the demo are
 - separate MessageService for getting and caching data from the remote
 - separate RemoteService for emulating requests to Server with latency
 - new messages are being

[2020-06-02 06:37] dudipsh commented on #180
Hey @dhilt
First of all i wanted to thank you for taking the time to build this demo.

From the looks of it I think we are definitely in the right direction, I liked your code design and I'm planing on using it. Also this demo will answer alot of peoples queries.

I am planing on
1. Forking the stackblitz
2. Adding GraphQL "fetch more" logic

I am going to start working on this immediately and I w

[2020-06-02 12:47] #130 closed, assigned to nobody

[2020-06-02 13:13] dhilt commented on #130
There is issue https://github.com/dhilt/ngx-ui-scroll/issues/178 and the next minor release (1.7) will have to include "await" syntax for Adapter methods. This should drastically simplify handling of the Adapter methods asynchronicity.

[2020-06-02 16:56] dhilt commented on #180
@dudipsh great! The most important thing I would love to have in the end is a separate data-connection layer with fixed API that could be re-used across the different apps with random database behind. I'm talking about MessageService. Its implementation is app specific, but it's API should be common and fixed. Right now MessageService API implies two agreements:
 - requestData(index, count) method

[2020-06-03 09:32] floAtEbcont commented on #181
Yes! Version 1.6.6. works fine in angular 8. :partying_face:  Thank you!!

[2020-06-03 09:32] #181 closed, assigned to nobody

[2020-06-04 05:48] Ar-Kan opened #182 "First and the last visible items objects not emitting data"
Hello,

Once again I seek guidance, after update 1.5.1 it seems to me that `firstVisible$` and `lastVisible$` from `adapter` isn't emitting values.

Am I missing something or not implementing correctly?

StackBlitz:
* [1.5.0](https://stackblitz.com/edit/angular-ngx-ui-scroll-1-5-0-enable-on-demand-4ey3ca)
* [1.5.1](https://stackblitz.com/edit/angular-ngx-ui-scroll-1-5-1-enable-on-demand-msfnab)

[2020-06-04 13:27] dudipsh commented on #180
Hey @dhilt

In order to simplify things I decided to change my backend from GraphQL  to a rest API.

#### nestjs message.controller.ts
[code]

#### nestjs-  message.service
[code]

You can see here that I return all the messages with pagination and I sort the data from the last incoming item. Now when the component is loaded the the first item appears on top instead of the desired bottom. Not bein